In [1]:
import pandas as pd
import re

In [8]:
s=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\성수리뷰_22년2분기_키워드_전처리.csv')
b=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\북촌리뷰_22년2분기_키워드_전처리.csv')
sc=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\신촌리뷰_22년2분기_키워드_전처리.csv')

In [17]:
b.sample(4)

,상가업소번호,가게명,리뷰,keyword,keyword_stem,분기,keyword_stem1
1744,MA010120220809847761,브루다 안국,Good,good,good,22_2,NaN
3536,MA010120220813547232,길운구락부 & Bar,자주가는곳! 추천!,"자주가는곳,자주가는곳 추천,추천","자주 가다 곳, 자주 가다 곳 추천하다, 추천",22_2,"자주 가다 곳, 자주 가다 곳 추천하다, 추천"
8690,1115,블루보틀 삼청 카페,처음가봤는데 커피맛이 스벅보다 연하네요 양도 적은데 비싸요 한번 가볼만한정도?,"가볼만한정도,가봤는데,가봤는데 커피맛이,비싸요,비싸요 한번,스벅보다,스벅보다 연하네...","가보다 한 정도, 가보다, 가보다 커피 맛, 비싸다, 비싸다 한번, 스벅 보다, 스...",22_2,"가보다 정도, 가보다, 가보다 커피 맛, 비싸다, 비싸다 한번, 스벅, 스벅 연하다..."
494,MA010120220807041580,인사동쭈꾸미,이번이 두번째 방문이였는데 로제쭈꾸미 정말 맛있어요! 잘먹었습니당 담에 또올께요 ??,"담에,담에 또올께요,두번째,두번째 방문이였는데,또올께요,로제쭈꾸미,로제쭈꾸미 정말,...","담, 담 오다, 두번째, 두번째 방문, 오다, 쭈꾸미, 쭈꾸미 정말, 맛있다 ' ...",22_2,"담, 담 오다, 두번째, 두번째 방문, 오다, 쭈꾸미, 쭈꾸미 정말, 맛있다 ' ..."

In [10]:
sc.sample(5)

,상가업소번호,가게명,리뷰,keyword,keyword_stem,분기,keyword_stem1
3748,MA010120220800626412,고르드,맛있어요,맛있어요,맛있다,22_2,맛있다
2101,MA010120220806523856,할리스 이대점,좋아요,좋아요,좋다,22_2,좋다
7490,MA010120220812530321,안테이쿠,아니 너무 신나게 즐기느라 사진 하나밖에 없는 게 너무 어이없네요???? 츄하이 맛...,"가득합니당,가득합니당 그리고,가성비,가성비 애니,고르는,고르는 맛도,곳이라,곳이라 ...","가득하다 , 가득하다 , 가성비 , 가성비 애니 , 고르다 , 고르다 맛 , 곳 이...",22_2,"가득하다 , 가득하다 , 가성비 , 가성비 애니 , 고르다 , 고르다 맛 , 곳 ,..."
4224,MA010120220803733841,화가와요리사,굿,굿굿굿,굿굿굿,22_2,굿굿굿
397,MA010120220810113017,연세로갈매기,너무 맛있게 잘 먹었습니당 존맛탱 ㅠㅠㅠ 또갈게영,"너무,너무 맛있게,또갈게영,맛있게,맛있게 먹었습니당,먹었습니당,먹었습니당 존맛탱,존...","너무 , 너무 맛있다 , 갈다 , 맛있다 , 맛있다 먹다 습 니당다 , 먹다 ...",22_2,", 맛있다 , 갈다 , 맛있다 , 맛있다 먹다 습 니당다 , 먹다 습 니당다 ..."

In [4]:
s.sample(5)

,상가업소번호,가게명,리뷰,keyword,keyword_stem
8097,MA010120220805177603,아이오쓰리 에이스하이엔드점,지굼 샤이니 뭐 하더라구여 매장 깔끔하구 좋아요,"깔끔하구,깔끔하구 좋아요,매장,매장 깔끔하구,샤이니,샤이니 하더라구여,좋아요,지굼,...","깔끔하다,깔끔하다 좋다,매장,매장 깔끔하다,샤이니,샤이니,좋다,지굼,지굼 샤이니,,..."
3841,MA010120220810276601,플래닝샐러드,가게는 좁아요,"가게는,가게는 좁아요,좁아요","가게,가게 좁다,좁다"
2240,MA010120220806892678,201호,친구들이랑 브런치 먹으러 왔는데 만족스런 식사하고 갑니다 -! 치즈 프리티타는 ...,"갑니다,갑니다 치즈,, 만족스런,다음에,다음에 방문하고,만족스런,만족스런 식사하고,...","가다,가다 치즈,, 만족스럽다,,방문,만족스럽다,만족스럽다 식사,맛있다,, ,맛있다..."
4829,MA010120220803773713,푸르너스가든 서울숲,굿〰〰,굿굿굿,굿굿굿
3292,MA010120220813632780,버니타운,매장 깔끔하고 음료도 다 맛있네여~ 또올게여😁,"깔끔하고,깔끔하고 음료도,또올게여,맛있네여,맛있네여 또올게여,매장,매장 깔끔하고,음...","깔끔하다,깔끔하다 음료,올 게,맛있다,맛있다 올 게,매장,매장 깔끔하다,음료,, ,..."

In [18]:
s="가보다 한 정도, 가보다, 가보다 커피 맛, 비싸다, 비싸다 한번, 스벅 보다,"
bs=[list(set(s.split(' ')))]
bs

[['한', '비싸다', '가보다,', '보다,', '정도,', '커피', '한번,', '스벅', '비싸다,', '가보다', '맛,']]

In [ ]:
word_list = [list(set(sentence.split(' '))) for sentence in sentences]

## 데이터 로드

In [220]:
b1=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\북촌리뷰_23년1분기_키워드_전처리.csv')
b2=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\북촌리뷰_22년2분기_키워드_전처리.csv')
b3=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\북촌리뷰_22년3분기_키워드_전처리.csv')
b4=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\북촌리뷰_22년4분기_키워드_전처리.csv')

In [23]:
s1=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\성수리뷰_23년1분기_키워드_전처리.csv')
s2=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\성수리뷰_22년2분기_키워드_전처리.csv')
s3=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\성수리뷰_22년3분기_키워드_전처리.csv')
s4=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\키워드\성수리뷰_22년4분기_키워드_전처리.csv')

In [222]:
sc1=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\신촌리뷰_23년1분기_키워드_전처리.csv')
sc2=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\신촌리뷰_22년2분기_키워드_전처리.csv')
sc3=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\신촌리뷰_22년3분기_키워드_전처리.csv')
sc4=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\Keyword_Extraction\키워드\신촌리뷰_22년4분기_키워드_전처리.csv')

In [24]:
s1=s1.fillna('빈 리뷰')
s2=s2.fillna('빈 리뷰')
s3=s3.fillna('빈 리뷰')
s4=s4.fillna('빈 리뷰')

In [225]:
b1=b1.fillna('빈 리뷰')
b2=b2.fillna('빈 리뷰')
b3=b3.fillna('빈 리뷰')
b4=b4.fillna('빈 리뷰')

In [226]:
sc1=sc1.fillna('빈 리뷰')
sc2=sc2.fillna('빈 리뷰')
sc3=sc3.fillna('빈 리뷰')
sc4=sc4.fillna('빈 리뷰')

In [223]:
b1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8786 entries, 0 to 8785
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   상가업소번호         8786 non-null   object
 1   가게명            8786 non-null   object
 2   리뷰             8786 non-null   object
 3   keyword        8786 non-null   object
 4   keyword_stem   8785 non-null   object
 5   분기             8786 non-null   object
 6   keyword_stem1  8767 non-null   object
dtypes: object(7)
memory usage: 480.6+ KB

### Keyword 문장부호 없애기

In [ ]:
# import re

# def remove(s):
#     sentence=re.sub('[\'\'\[\]]','',s)
#     return sentence

In [ ]:
import re

def remove(text):
    text2 = text.replace("['", "").replace("']", "").replace("' '", ",")
    return text2

In [19]:
import re

def remove(text):
    text2 = text.replace(" ,", ",").replace(", ",",").replace(" , ",",")
    return text2

In [21]:
b=b.fillna('빈 리뷰')

In [22]:
b['keyword_stem']=b['keyword_stem'].apply(remove)
b.head()

,상가업소번호,가게명,리뷰,keyword,keyword_stem,분기,keyword_stem1
0,MA010120220805435729,몽중헌 안국점,주차도 발렛 편리했고 음식맛은 정말 맛있었습니다! 일요일 오후7시~8시30분 식사 ...,"3층,3층 서빙하시는,그분께,그분께 맛있게,그외,그외 다른,너무,너무 별로였습니다,...","3층,3층 서빙,분 께,분 께 맛있다,외,외,너무,너무 별로,놓다 ' \r\n ' ...",22_2,"층 ,층 서빙, 분, 분 맛있다 , 외, 외, , 별로, 놓다 ' ' 놓다 많다, ..."
1,MA010120220805435729,몽중헌 안국점,좋아요,좋아요,좋다,22_2,좋다
2,MA010120220805435729,몽중헌 안국점,오랜만에 방문한고 같아요!! 비록 북촌이 정말이지 사람이 너무너무 많아져서 그런지 ...,"갑니다,갑니다 오래오래,같아요,같아요 비록,그런지,그런지 저의,너무너무,너무너무 많...","가다,가다 오래오래,,,그렇다,그렇다,너무 너무,너무 너무 많아지다 ' \r\n '...",22_2,"가다, 가다 오래오래, ,, 그렇다, 그렇다, , 많아지다 ' ' 지점, 지점 달리..."
3,MA010120220805435729,몽중헌 안국점,굿,굿굿굿,굿굿굿,22_2,굿굿굿
4,MA010120220805435729,몽중헌 안국점,굿,굿굿굿,굿굿굿,22_2,굿굿굿

In [148]:
s1['keyword_stem']=s1['keyword_stem'].apply(remove)
s2['keyword_stem']=s2['keyword_stem'].apply(remove)
s3['keyword_stem']=s3['keyword_stem'].apply(remove)
s4['keyword_stem']=s4['keyword_stem'].apply(remove)

In [48]:
b1['keyword_stem']=b1['keyword_stem'].apply(remove)
b2['keyword_stem']=b2['keyword_stem'].apply(remove)
b3['keyword_stem']=b3['keyword_stem'].apply(remove)
b4['keyword_stem']=b4['keyword_stem'].apply(remove)

In [85]:
sc1['keyword_stem']=sc1['keyword_stem'].apply(remove)
sc2['keyword_stem']=sc2['keyword_stem'].apply(remove)
sc3['keyword_stem']=sc3['keyword_stem'].apply(remove)
sc4['keyword_stem']=sc4['keyword_stem'].apply(remove)

In [25]:
s1.head()

,상가업소번호,가게명,리뷰,제거리뷰,review_tfidf,keyword,keyword_stem,분기
0,MA010120220808464961,밥플러스 아이티캐슬점,좋아요,좋아요,['좋아요'],좋아요,좋다,23_1
1,MA010120220808464961,밥플러스 아이티캐슬점,"매일 메뉴가 바뀌고 좋아요. 단, 예전만큼 맛있는건 아녜요",매일 메뉴가 바뀌고 좋아요 단 예전만큼 맛있는건 아녜요,['맛있는건' '맛있는건 아녜요' '매일' '매일 메뉴가' '메뉴가' '메뉴가 바뀌...,"매일, 메뉴가, 예전만큼 맛있는건, 메뉴가 바뀌고, 매일 메뉴가","매일 , 메뉴 가 , 예전 만큼 맛있다 , 메뉴 가 바뀌다 , 매일 메뉴 가",23_1
2,MA010120220808464961,밥플러스 아이티캐슬점,맛있아여,맛있아여,['맛있아여'],맛있아여,맛있다,23_1
3,MA010120220808464961,밥플러스 아이티캐슬점,좋아요,좋아요,['좋아요'],좋아요,좋다,23_1
4,MA010120220808464961,밥플러스 아이티캐슬점,잘먹고 갑니다 늘,잘먹고 갑니다 늘,['갑니다' '잘먹고' '잘먹고 갑니다'],"갑니다, 잘먹고, 잘먹고 갑니다","가다 , 잘 먹다 , 잘 먹다 가다",23_1

### 맞춤법 검사

In [9]:
from hanspell import spell_checker
from tqdm import tqdm


def preprocess_sentence(df):
    data=df.copy()
    data['spell_check']=''
    data['리뷰 hanspell']=data['keyword'].apply(lambda x: re.sub('[^A-Za-z0-9ㄱ-ㅎㅏ-ㅣ가-힣\s\[\]\.,!\?\"\']', '', x))
    data['리뷰 hanspell']=data['리뷰 hanspell'].apply(lambda x: re.sub(r"[\[\'\]]","",x))
    
    for i,review in tqdm(zip(data.index.tolist(),data['리뷰 hanspell'].tolist()),total=len(data)):
            s=spell_checker.check(review).checked
            if s!='':
                data['spell_check'][i]=s
            else:
                data['spell_check'][i]=review
                 

    return data

In [ ]:
b1=preprocess_sentence(b1)

### 형태소 원형

In [28]:
from tqdm.notebook import tqdm
from typing import Dict, List, Set, Callable, Optional
from itertools import chain
from collections import Counter
from konlpy.tag import Okt

okt=Okt()

ModuleNotFoundError: No module named 'konlpy'

In [13]:
#한국어 불용어 사전 만들기

korean_stopwords_list='한국어 불용어.txt'
    
#한국어 불용어 txt 오픈
with open(korean_stopwords_list,encoding='utf-8') as f:
    stopwords=f.readlines()

stopwords=[x.strip() for x in stopwords]
stopwords[:10]

['아', '휴', '아이구', '아이쿠', '아이고', '어', '나', '우리', '저희', '따라']

In [ ]:
#형태소 원형으로 바꾸어줌. 

def morph_stem(s):
    word_list=okt.morphs(s,stem=True)
    word_list=[word for word in word_list if word not in stopwords]
    return ' '.join(word_list)

In [ ]:
def morph_stem_test(s):
    word_list=okt.pos(s,stem=True)
    word_list=[word[0] for word in word_list if word[1] in ['Noun','Adjective','Verb','Punctuation']]
    word_list=[word for word in word_list if word not in stopwords]
    return ' '.join(word_list)

In [ ]:
bukchon['keyword_stem1']=bukchon['keyword'].apply(morph_stem_test)
bukchon['keyword_stem']=bukchon['keyword'].apply(morph_stem)
sinchon['keyword_stem1']=sinchon['keyword'].apply(morph_stem_test)
sinchon['keyword_stem']=sinchon['keyword'].apply(morph_stem)
seongsu['keyword_stem1']=seongsu['keyword'].apply(morph_stem_test)
seongsu['keyword_stem']=seongsu['keyword'].apply(morph_stem)

In [ ]:
seongsu.drop(['제거리뷰'], axis=1, inplace=True)
bukchon.drop(['제거리뷰'], axis=1, inplace=True)
sinchon.drop(['제거리뷰'], axis=1, inplace=True)

In [ ]:
seongsu.to_csv('성수리뷰_키워드_전처리2.csv')
sinchon.to_csv('신촌리뷰_키워드_전처리2.csv')
bukchon.to_csv('북촌리뷰_키워드_전처리2.csv')

In [ ]:
b1['keyword_stem']=b1['keyword'].apply(morph_stem)
b2['keyword_stem']=b2['keyword'].apply(morph_stem)
b3['keyword_stem']=b3['keyword'].apply(morph_stem)
b4['keyword_stem']=b4['keyword'].apply(morph_stem)

In [ ]:
s1['keyword_stem']=s1['keyword'].apply(morph_stem)
s2['keyword_stem']=s2['keyword'].apply(morph_stem)
s3['keyword_stem']=s3['keyword'].apply(morph_stem)
s4['keyword_stem']=s4['keyword'].apply(morph_stem)

In [ ]:
sc1['keyword_sctem']=sc1['keyword'].apply(morph_stem)
sc2['keyword_sctem']=sc2['keyword'].apply(morph_stem)
sc3['keyword_sctem']=sc3['keyword'].apply(morph_stem)
sc4['keyword_sctem']=sc4['keyword'].apply(morph_stem)

### 토큰화

In [26]:
#두글자씩 보기

def count_words_two(sentences: List[str]) -> Counter:
    word_list = [list(set(sentence.split(','))) for sentence in sentences]#' , '
    # word_list = [okt.morphs(sentence,stem=True) for sentence in sentences]#추가
    word_list = sorted(chain.from_iterable(word_list))
    word_list = [re.sub('[^0-9ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', word) for word in word_list]
    word_list=[word for word in word_list if word not in stopwords]
    return Counter(word_list)

NameError: name 'List' is not defined

In [27]:
#한글자씩 보기
def count_words(sentences: List[str]) -> Counter:
    word_list = [list(set(sentence.split(' '))) for sentence in sentences]
    #word_list = [okt.morphs(sentence,stem=True) for sentence in sentences]
    word_list = sorted(chain.from_iterable(word_list))
    word_list = [re.sub('[^0-9ㄱ-ㅎㅏ-ㅣ가-힣]', '', word) for word in word_list]
    word_list=[word for word in word_list if word not in stopwords]
    return Counter(word_list)

NameError: name 'List' is not defined

In [152]:
b2.sample(5)

,상가업소번호,가게명,리뷰,keyword,keyword_stem,분기,keyword_stem1
3834,MA010120220800035353,RadioM 삼청점,굿,굿굿굿,굿굿굿,22_2,굿굿굿
4029,MA010120220800028746,파툼,옥상뷰가 정말 좋은 곳 입니다. 커피는 고소했고 케익도 나쁘지는 않았습니다,"고소했고,고소했고 케익도,나쁘지는,나쁘지는 않았습니다,뷰가,뷰가 정말,않았습니다,옥...","고소하다,고소하다 케익,나쁘다,나쁘다 않다,뷰,뷰 정말,않다,옥상,옥상뷰 ' \r\...",22_2,"고소하다, 고소하다 케익, 나쁘다, 나쁘다 않다 ,뷰 ,뷰 정말, 않다, 옥상, 옥..."
7164,1108,월영당 서울,맛있는데 의자가 불편하고 가격도 사악한 편..,"가격도,가격도 사악한,맛있는데,맛있는데 의자가,불편하고,불편하고 가격도,사악한,의자...","가격,가격 사악하다,맛있다,맛있다 의자,불편하다,불편하다 가격,사악하다,의자 ' ...",22_2,"가격, 가격 사악하다, 맛있다 , 맛있다 의자, 불편하다, 불편하다 가격, 사악하..."
6840,MA010120220805346843,달별,아이스크림 맛있어요,"맛있어요,아이스크림,아이스크림 맛있어요","맛있다,아이스크림,아이스크림 맛있다",22_2,"맛있다 , 아이스크림, 아이스크림 맛있다"
7731,1103,프릳츠 원서점,"프릳츠 는 사실 어느 지점이든 다 좋은데, 비 오는 평일 한적한 원서점은 특히 더 ...","도나스도,도나스도 맛있고,맛있고,맛있고 직원분들도,사실,사실 어느,어느,어느 지점이...","나스,나스 맛있다,맛있다,맛있다 직원분들,사실,사실,,지점 이든,오다 ' \r\n...",22_2,"나스, 나스 맛있다 , 맛있다 , 맛있다 직원, 사실, 사실, , 지점, 오다 '..."

In [153]:
test=b2[b2['가게명']=='네마커피 삼청점']
test=test.reset_index(drop=True)
test.head()

,상가업소번호,가게명,리뷰,keyword,keyword_stem,분기,keyword_stem1
0,MA010120220806167899,네마커피 삼청점,좋아요,좋아요,좋다,22_2,좋다
1,MA010120220806167899,네마커피 삼청점,인테리어도 예쁘고 맛도 있는데 스태프의 친절까지 겸비한 정말 완벽한 한옥카페. 나도...,"가지게,가지게 하는,개발한,개발한 대체,건강,건강 음료,겸비한,겸비한 정말,공간의,...","가지 게,가지 게,개발 한,개발 한 대체,건강,건강 음료,겸비 한,겸비 한 정말,공...",22_2,"가지 ,가지 ,개발 ,개발 대체, 건강, 건강 음료, 겸비, 겸비 정말, 공간, 공..."
2,MA010120220806167899,네마커피 삼청점,시원하고뷰도 좋고 친절하시구 :) 좋아요,"뷰도,뷰도 좋고,시원하고,시원하고뷰도,좋고,좋고 친절하시구,좋아요,친절하시구,친절하...","뷰,뷰 좋다,시원하다,시원하다뷰,좋다,좋다 친절하다,좋다,친절하다,친절하다 좋다",22_2,"뷰 ,뷰 좋다, 시원하다, 시원하다뷰, 좋다, 좋다 친절하다, 좋다, 친절하다, 친..."
3,MA010120220806167899,네마커피 삼청점,좋아요,좋아요,좋다,22_2,좋다
4,MA010120220806167899,네마커피 삼청점,커피 맛있고뷰도 좋네요~^^ 조용하게 분위기 즐기기 좋아요 베리파이도 맛있네요 잘쉬...,"맛있고,맛있고뷰도,맛있네요,맛있네요 잘쉬다갑니다,베리파이도,베리파이도 맛있네요,분위...","맛있다,맛있다 뷰,맛있다,맛있다 잘 쉬다 가다,베리 파이,베리 파이 맛있다,분위기...",22_2,"맛있다 , 맛있다 뷰, 맛있다 , 맛있다 쉬다 가다, 베리 파이, 베리 파이 맛있..."

In [161]:
#keyword랑 keyword_stem 비교
test_review=test['keyword_stem'].tolist()#tfidf로도
test_review_two=test['keyword_stem'].tolist()

test_review

['좋다',
 "가지 게,가지 게,개발 한,개발 한 대체,건강,건강 음료,겸비 한,겸비 한 정말,공간,공간 주인 ' \r\n ' 기분,기분 좋다,꿈,꿈가지 게,나다,나다 저런,나다,대체,대체 건강,더욱,더욱 즐겁다 ' \r\n ' 덕,덕 더욱,동료,동료 위해,되다,되다 싶다,마디,마디 상냥하다,마시다 ' \r\n ' 마시다 동료,맛,맛,맛,맛있다 다,메뉴,메뉴 스토리텔링,보내다,보내다 ' \r\n ' 본격적,본격적 콜라,분,분 기분,상냥하다,상냥하다 덕,스태프,스태프 분,스태프 ' \r\n ' 스태프 친절,스탭,스탭 직접,스토리텔링,스토리텔링 완벽하다,,보내다,싶다 ' \r\n ' 싶다 꿈,아이스,아이스 음료 인데,에이 들다,에이 들다 콜라 맛,예쁘다,예쁘다 맛,완벽하다 ' \r\n ' 완벽하다 스태프,완벽하다 한옥카페,위해,위해 스탭,음료,음료 정말,음료 인데,음료 인데 지나치다,인사 ' \r\n ' 인사 마디,인테리어,예쁜 인테리어,일본어,일본어 인사,,스태프,' \r\n ' 캔디,저런,저런 공간,정말,정말 본격적,정말 완벽하다,좋다,좋다 일본어,좋다 카페 ' \r\n ' 주인,주인 되다,즐겁다,즐겁다,지나치다,지나치다 콜라,직접,직접개발 한,친절 ' \r\n ' 친절 겸비 한,카페,카페 흥미롭다,캔디,캔디 에이 들다,콜라,콜라 맛,콜라,콜라 마시다 ' \r\n ' 콜라 맛,콜라 맛 아이스,,기분,한옥카페,한옥카페 나다,흥미롭다,흥미롭다 메뉴",
 '뷰,뷰 좋다,시원하다,시원하다뷰,좋다,좋다 친절하다,좋다,친절하다,친절하다 좋다',
 '좋다',
 "맛있다,맛있다 뷰,맛있다,맛있다  잘 쉬다 가다,베리 파이,베리 파이 맛있다,분위기,분위기 즐기다 ' \r\n '뷰,뷰 좋다,잘 쉬다 가다,조용하다,조용하다 분위기,좋다,좋다 조용하다,좋다 ' \r\n ' 좋다 베리 파이,즐기다,즐기다 좋다,커피,맛있는 커피",
 "가격,가격 인상적 이에요,,메뉴,단골,단골 카페,말다,말다 싶다,만족,만족 단골 ' \r\n ' 메뉴,메뉴 말다,분위기,분위기 친절하다,삼청동,삼청동 처음,싶다,오다 보다,오다 보다 카페 ' \r\n ' 인상적 이에요,인상적 이에요 종합적,종합적,종합적 만족,처음,처음 오다 보다,추가 되다 ' \r\n ' 추가 되다,친절하다,친절하다 가격,카페,카페 분위기,카페 한개,한개,한개 추가 되다",
 '굿굿굿',
 '굿굿굿',
 '맛있다 ',
 "독특,독특 맘,들다,맘,맘 들다,뷰,뷰 좋다,좋다,좋다뷰,좋다 화장실,커피 맛 ' \r\n ' 커피 맛 좋다,화장실,화장실 독특",
 "가게,가게 아기자기,광합성,광합성 좋다,맛있다,맛있다  광합성,아기자기 ' \r\n ' 아기자기 예쁘다,예쁘다,예쁘다 커피,좋다,커피,맛있는 커피",
 '맛,맛,,친절하다,친절하다',
 "너무,너무 달 지,느껴지다,느껴지다 좋다,달 지,달지 않다,마시다,마시다 원두,맛있다  ' \r\n ' 맛있다  직원분들,사과파이,사과파이 너무,않다,않다 맛있다,여자 분,여자 분 친절하다,원두 ' \r\n ' 원두 풍 미가,좋다,좋다,좋다 사과파이,직원분들,친절한 직원분들,친절하다 ' \r\n ' 친절하다 좋다,친절하다,친절하다 특히,특히,특히 여자 분,풍 미가,풍 미가 느껴지다,플랫 화이트 ' \r\n ' 플랫 화이트 마시다",
 '먹다',
 "너무,너무 맛있다,두 마리,똥파리,똥파리 두 마리,맛있다,맛있다  매장,매장,매장 똥파리 ' \r\n ' 친절하다,친절하다 커피,커피,커피 너무",
 "금방,금방 녹다 건지다,깔끔하다,깔끔한 맛있다,날,날 덥다,녹다 건지다,녹다 건지다 쪼끔더,덥다 ' \r\n ' 덥다 얼음,맛있다,맛있다  날,분위기,분위기 조용하다,시원하다,시원하다 좋다,얼음 ' \r\n ' 얼음 금방,,카페 에요,조용하다,조용하다 커피 맛,좋다,좋다 분위기,즐기다 ' \r\n ' 즐기다,쪼끔더,쪼끔더 시원하다,카페 에요,커피 맛,커피 맛 즐기다,핸드 드립커피,핸드 드립커피 깔끔하다",
 "많다,많다 아메리카노,보다,보다 작고,비추다,사람,사람 많다,산미,산미 적당하다 깔끔하다 ' \r\n ' 생각,생각 보다,아메리카노,아메리카노 산미,에이 들다,에이 들다 비추다,작고,작고 사람,적당하다 깔끔하다 ' \r\n ' 적당하다 깔끔하다 에이 들다,카페,카페 생각",
 '좋다',
 '창가 자리',
 '잘 먹다',
 "라떼아트,라떼아트 예술 이고,맛있다 다,맛있다,맛있다  애플파이,애플파이,애플파이 맛있다 다 ' \r\n ' 예술 이고,예술 이고 커피,커피,맛있는 커피",
 '맛있다,어렵다,어렵다 커피,찾기,찾기 어렵다,커피,커피 맛 요',
 "디저트,디저트 먹다 보고,많다,많다 홀 에는,맛있다,맛있다 사람,먹다 보고,먹다 보고 싶다,사람 ' \r\n ' 사람 많다,싶다,,디저트,커피,커피 맛있다,홀 에는,홀 에는"]

In [162]:
test_word_dict=count_words(test_review)
test_word_dict_two=count_words_two(test_review_two)

In [163]:
print(len(test_word_dict))
print(len(test_word_dict_two))

139
260

In [164]:
dict=test_word_dict.most_common(30)
dict

[('', 356),
 ('좋다', 33),
 ('맛있다', 29),
 ('커피', 21),
 ('맛', 16),
 ('친절하다', 16),
 ('카페', 15),
 ('말다', 9),
 ('분위기', 9),
 ('뷰', 9),
 ('적', 9),
 ('콜라', 9),
 ('들다', 8),
 ('싶다', 7),
 ('깔끔하다', 6),
 ('너무', 6),
 ('되다', 6),
 ('많다', 6),
 ('메뉴', 6),
 ('보다', 6),
 ('분', 6),
 ('사람', 6),
 ('스태프', 6),
 ('에이', 6),
 ('예쁘다', 6),
 ('음료', 6),
 ('조용하다', 6),
 ('즐기다', 6),
 ('다', 5),
 ('먹다', 5)]

In [165]:
test_word_dict_two.most_common(30)

[('좋다', 10),
 ('맛있다', 7),
 ('커피', 6),
 ('', 5),
 ('친절하다', 4),
 ('맛있는 커피', 3),
 ('분위기', 3),
 ('뷰 좋다', 3),
 ('카페', 3),
 ('굿굿굿', 2),
 ('너무', 2),
 ('많다', 2),
 ('맛', 2),
 ('맛있다 다', 2),
 ('메뉴', 2),
 ('뷰', 2),
 ('시원하다', 2),
 ('싶다', 2),
 ('에이 들다', 2),
 ('예쁘다', 2),
 ('조용하다', 2),
 ('       캔디', 1),
 ('가게', 1),
 ('가게 아기자기', 1),
 ('가격', 1),
 ('가격 인상적 이에요', 1),
 ('가지 게', 1),
 ('개발 한', 1),
 ('개발 한 대체', 1),
 ('건강', 1)]

In [123]:
#내림차순
sorted_result=sorted(dict,key=lambda x:x[1])
sorted_result

[('다', 5),
 ('먹다', 5),
 ('깔끔하다', 6),
 ('너무', 6),
 ('되다', 6),
 ('많다', 6),
 ('메뉴', 6),
 ('보다', 6),
 ('분', 6),
 ('사람', 6),
 ('스태프', 6),
 ('에이', 6),
 ('예쁘다', 6),
 ('음료', 6),
 ('조용하다', 6),
 ('즐기다', 6),
 ('싶다', 7),
 ('들다', 8),
 ('말다', 9),
 ('분위기', 9),
 ('뷰', 9),
 ('적', 9),
 ('콜라', 9),
 ('카페', 15),
 ('맛', 16),
 ('친절하다', 16),
 ('커피', 21),
 ('맛있다', 29),
 ('좋다', 33),
 ('', 356)]

### 가게별 키워드 한 행에 정리

In [229]:
def word_one(df):

    shop_name_list=[]
    shop_num_list=[]
    keyword1_list=[]
    keyword2_list=[]

    df_list=df['가게명'].value_counts().index#가게리스트

    for i in range(len(df_list)):
        shop_name=df_list[i]
        shop_name_list.append(shop_name)#가게명

        test=df[df['가게명']==shop_name]
        test=test.reset_index(drop=True)#가게 데이터만 떼와서 리셋

        shop_num=test['상가업소번호'][0]#상가업소번호 저장
        shop_num_list.append(shop_num)

        test_review=test['keyword_stem'].tolist()
        test_review_two=test['keyword_stem'].tolist()

        test_word_dict=count_words(test_review)
        test_word_dict_two=count_words_two(test_review_two)

        dict=test_word_dict.most_common(50)
        dict_two=test_word_dict_two.most_common(50)

        keyword1_list.append(dict)
        keyword2_list.append(dict_two)

    shop_keyword=pd.DataFrame({'상가업소번호':shop_num_list,
                                '가게명':shop_name_list,
                                'keyword30_1':keyword1_list,
                                'keyword30_2':keyword2_list})
        
    return shop_keyword

In [230]:
bk1=word_one(b1)
bk2=word_one(b2)
bk3=word_one(b3)
bk4=word_one(b4)

In [231]:
sk1=word_one(s1)
sk2=word_one(s2)
sk3=word_one(s3)
sk4=word_one(s4)

In [232]:
sck1=word_one(sc1)
sck2=word_one(sc2)
sck3=word_one(sc3)
sck4=word_one(sc4)

In [233]:
bk1.to_csv('가게별 키워드리스트/북촌_23년1분기_가게별키워드.csv',index=False)
bk2.to_csv('가게별 키워드리스트/북촌_22년2분기_가게별키워드.csv',index=False)
bk3.to_csv('가게별 키워드리스트/북촌_22년3분기_가게별키워드.csv',index=False)
bk4.to_csv('가게별 키워드리스트/북촌_22년4분기_가게별키워드.csv',index=False)

In [234]:
sk1.to_csv('가게별 키워드리스트/성수_23년1분기_가게별키워드.csv',index=False)
sk2.to_csv('가게별 키워드리스트/성수_22년2분기_가게별키워드.csv',index=False)
sk3.to_csv('가게별 키워드리스트/성수_22년3분기_가게별키워드.csv',index=False)
sk4.to_csv('가게별 키워드리스트/성수_22년4분기_가게별키워드.csv',index=False)

In [235]:
sck1.to_csv('가게별 키워드리스트/신촌_23년1분기_가게별키워드.csv',index=False)
sck2.to_csv('가게별 키워드리스트/신촌_22년2분기_가게별키워드.csv',index=False)
sck3.to_csv('가게별 키워드리스트/신촌_22년3분기_가게별키워드.csv',index=False)
sck4.to_csv('가게별 키워드리스트/신촌_22년4분기_가게별키워드.csv',index=False)

In [236]:
bk1.head()

,상가업소번호,가게명,keyword30_1,keyword30_2
0,1113,도토리가든,"[(, 787), (좋다, 182), (맛있다, 165), (너무, 143), (귀...","[( 맛있다 , 112), ( , 100), ( 좋다, 82), ( 너무, 51),..."
1,1109,어니언안국,"[(, 460), (좋다, 132), (많다, 106), (맛있다, 101), (커...","[( , 57), ( 좋다, 50), ( 맛있다 , 47), (빵 , 40), ( ..."
2,1104,오설록티 하우스 북촌점,"[(, 311), (좋다, 151), (너무, 69), (맛있다, 56), (오설록...","[( 좋다, 60), ( , 50), ( 맛있다 , 37), ( 대체 리뷰, 20)..."
3,MA010120220810377480,진작카키,"[(, 442), (좋다, 133), (맛있다, 107), (분위기, 93), (너...","[( 맛있다 , 68), ( 좋다, 57), ( , 43), ( 분위기, 37), ..."
4,1115,블루보틀 삼청 카페,"[(, 273), (좋다, 78), (커피, 78), (맛있다, 53), (대체, ...","[( , 32), ( 맛있다 , 30), ( 좋다, 30), ( 커피, 28), (..."

In [237]:
bk1['keyword30_1'][0]

[('', 787),
 ('좋다', 182),
 ('맛있다', 165),
 ('너무', 143),
 ('귀엽다', 134),
 ('도토리', 134),
 ('요거트', 122),
 ('인테리어', 101),
 ('마들렌', 98),
 ('보다', 85),
 ('많다', 84),
 ('분위기', 83),
 ('카페', 80),
 ('디저트', 77),
 ('먹다', 74),
 ('예쁘다', 74),
 ('빵', 73),
 ('맛', 63),
 ('까눌레', 53),
 ('오다', 53),
 ('웨이팅', 53),
 ('음료', 52),
 ('가다', 51),
 ('한', 51),
 ('진짜', 50),
 ('방문', 45),
 ('곳', 44),
 ('브런치', 41),
 ('가든', 40),
 ('아기자기하다', 40),
 ('그릭', 39),
 ('들어가다', 39),
 ('정말', 39),
 ('커피', 39),
 ('모양', 38),
 ('자리', 38),
 ('없다', 37),
 ('지브리', 35),
 ('들다', 34),
 ('비싸다', 34),
 ('소금빵', 34),
 ('친절하다', 34),
 ('그렇다', 33),
 ('종류', 33),
 ('다', 32),
 ('리뷰', 32),
 ('나오다', 30),
 ('대체', 30),
 ('이라', 30),
 ('느낌', 29)]

### 가게별 키워드, 갯수 정리

In [188]:
import pandas as pd


# 분리된 리뷰를 담을 새로운 데이터프레임 생성
new_rows = []

# 데이터프레임 순회
for index, row in bk1.iterrows():
    for review in row['keyword30_1']:
        keyword = review[0]
        count = review[1]
        new_row = {'상가업소번호': row['상가업소번호'],
                   '가게명': row['가게명'],
                   '키워드': keyword,
                   '갯수': count}
        new_rows.append(new_row)

# 새로운 데이터프레임 생성
new_df = pd.DataFrame(new_rows)

# 결과 출력
new_df.head()

  상가업소번호    가게명  키워드    갯수
0   1113  도토리가든       8759
1   1113  도토리가든  맛있다   538
2   1113  도토리가든   좋다   360
3   1113  도토리가든  도토리   335
4   1113  도토리가든    빵   311

In [238]:
#함수화

def keyword_count(df):
    # 분리된 리뷰를 담을 새로운 데이터프레임 생성
    new_rows = []

    # 데이터프레임 순회
    for index, row in df.iterrows():
        for review in row['keyword30_1']:
            keyword = review[0]
            count = review[1]
            new_row = {'상가업소번호': row['상가업소번호'],
                       '가게명': row['가게명'],
                       '키워드': keyword,
                       '갯수': count}
            new_rows.append(new_row)

    # 새로운 데이터프레임 생성
    new_df = pd.DataFrame(new_rows)

    # 결과 출력
    return new_df

In [214]:
#함수화

def keyword_count2(df):
    # 분리된 리뷰를 담을 새로운 데이터프레임 생성
    new_rows = []

    # 데이터프레임 순회
    for index, row in df.iterrows():
        for review in row['keyword30_2']:
            keyword = review[0]
            count = review[1]
            new_row = {'상가업소번호': row['상가업소번호'],
                       '가게명': row['가게명'],
                       '키워드': keyword,
                       '갯수': count}
            new_rows.append(new_row)

    # 새로운 데이터프레임 생성
    new_df = pd.DataFrame(new_rows)

    # 결과 출력
    return new_df

In [239]:
bkc1=keyword_count(bk1)
bkc2=keyword_count(bk2)
bkc3=keyword_count(bk3)
bkc4=keyword_count(bk4)

In [240]:
skc1=keyword_count(sk1)
skc2=keyword_count(sk2)
skc3=keyword_count(sk3)
skc4=keyword_count(sk4)

In [241]:
sckc1=keyword_count(sck1)
sckc2=keyword_count(sck2)
sckc3=keyword_count(sck3)
sckc4=keyword_count(sck4)

In [215]:
bkc1=keyword_count2(bk1)
bkc2=keyword_count2(bk2)
bkc3=keyword_count2(bk3)
bkc4=keyword_count2(bk4)

skc1=keyword_count2(sk1)
skc2=keyword_count2(sk2)
skc3=keyword_count2(sk3)
skc4=keyword_count2(sk4)

sckc1=keyword_count2(sck1)
sckc2=keyword_count2(sck2)
sckc3=keyword_count2(sck3)
sckc4=keyword_count2(sck4)

In [242]:
bkc1.to_csv('가게별 키워드 개수/북촌_23년1분기_가게별_키워드갯수.csv',index=False)
bkc2.to_csv('가게별 키워드 개수/북촌_22년2분기_가게별_키워드갯수.csv',index=False)
bkc3.to_csv('가게별 키워드 개수/북촌_22년3분기_가게별_키워드갯수.csv',index=False)
bkc4.to_csv('가게별 키워드 개수/북촌_22년4분기_가게별_키워드갯수.csv',index=False)

In [243]:
sckc1.to_csv('가게별 키워드 개수/신촌_23년1분기_가게별_키워드갯수.csv',index=False)
sckc2.to_csv('가게별 키워드 개수/신촌_22년2분기_가게별_키워드갯수.csv',index=False)
sckc3.to_csv('가게별 키워드 개수/신촌_22년3분기_가게별_키워드갯수.csv',index=False)
sckc4.to_csv('가게별 키워드 개수/신촌_22년4분기_가게별_키워드갯수.csv',index=False)

In [244]:
skc1.to_csv('가게별 키워드 개수/성수_23년1분기_가게별_키워드갯수.csv',index=False)
skc2.to_csv('가게별 키워드 개수/성수_22년2분기_가게별_키워드갯수.csv',index=False)
skc3.to_csv('가게별 키워드 개수/성수_22년3분기_가게별_키워드갯수.csv',index=False)
skc4.to_csv('가게별 키워드 개수/성수_22년4분기_가게별_키워드갯수.csv',index=False)

In [180]:
''' 

import pandas as pd

# 분리된 리뷰를 담을 새로운 데이터프레임 생성
new_rows = []

# 데이터프레임 순회
for index, row in bk1.iterrows():
    reviews=[]
    for review in row['keyword30_1']:
        reviews.append(review)  # 튜플 자체를 추가
    for review in reviews:
        new_row = {'상가업소번호':row['상가업소번호'],
                   '가게명': row['가게명'],
                   'keyword30_1': review}
        new_rows.append(new_row)

# 새로운 데이터프레임 생성
new_df = pd.DataFrame(new_rows)

# 결과 출력
print(new_df)
'''

                    상가업소번호         가게명 keyword30_1
0                     1113       도토리가든    (, 8759)
1                     1113       도토리가든  (맛있다, 538)
2                     1113       도토리가든   (좋다, 360)
3                     1113       도토리가든  (도토리, 335)
4                     1113       도토리가든    (빵, 311)
...                    ...         ...         ...
9495  MA010120220810445689  이디야커피북촌마을점     (한잔, 3)
9496  MA010120220810445689  이디야커피북촌마을점     (마을, 2)
9497  MA010120220810445689  이디야커피북촌마을점     (북촌, 2)
9498  MA010120220810445689  이디야커피북촌마을점     (웨이, 2)
9499  MA010120220810445689  이디야커피북촌마을점      (팅, 2)

[9500 rows x 3 columns]

In [185]:
"""
import pandas as pd

# 분리된 리뷰를 담을 새로운 데이터프레임 생성
new_rows = []

# 데이터프레임 순회
for index, row in bk1.iterrows():
    for review in row['keyword30_1']:
        keyword = review[0]
        count = review[1]
        new_row = {'상가업소번호': row['상가업소번호'],
                   '가게명': row['가게명'],
                   '키워드': keyword,
                   '갯수': count}
        new_rows.append(new_row)

# 새로운 데이터프레임 생성
new_df = pd.DataFrame(new_rows)

# 결과 출력
print(new_df)
"""

                    상가업소번호         가게명  키워드    갯수
0                     1113       도토리가든       8759
1                     1113       도토리가든  맛있다   538
2                     1113       도토리가든   좋다   360
3                     1113       도토리가든  도토리   335
4                     1113       도토리가든    빵   311
...                    ...         ...  ...   ...
9495  MA010120220810445689  이디야커피북촌마을점   한잔     3
9496  MA010120220810445689  이디야커피북촌마을점   마을     2
9497  MA010120220810445689  이디야커피북촌마을점   북촌     2
9498  MA010120220810445689  이디야커피북촌마을점   웨이     2
9499  MA010120220810445689  이디야커피북촌마을점    팅     2

[9500 rows x 4 columns]

In [212]:
skc1.head(10)

                 상가업소번호        가게명  키워드    갯수
0  MA010120220809778726  노가리마켓 서울숲       2077
1  MA010120220809778726  노가리마켓 서울숲  맛있다   610
2  MA010120220809778726  노가리마켓 서울숲   좋다   393
3  MA010120220809778726  노가리마켓 서울숲   너무   187
4  MA010120220809778726  노가리마켓 서울숲   가다   153
5  MA010120220809778726  노가리마켓 서울숲  분위기   149
6  MA010120220809778726  노가리마켓 서울숲   음식   119
7  MA010120220809778726  노가리마켓 서울숲   안주   112
8  MA010120220809778726  노가리마켓 서울숲   오다    93
9  MA010120220809778726  노가리마켓 서울숲   들다    86

In [213]:
skc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62677 entries, 0 to 62676
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상가업소번호  62677 non-null  object
 1   가게명     62677 non-null  object
 2   키워드     62677 non-null  object
 3   갯수      62677 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.9+ MB