In [162]:
import pandas as pd

In [114]:
# sinchon1_2 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드2갯수.csv')
# sinchon1_1 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드갯수.csv')
# bukchon1_2 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드2갯수.csv')
# bukchon1_1 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드갯수.csv')
# seongsu1_2 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드2갯수.csv')
# seongsu1_1 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드갯수.csv')

In [215]:
bukchon1 = pd.read_csv('1분기 키워드/북촌1분기.csv')
sinchon1 = pd.read_csv('1분기 키워드/신촌1분기.csv')
seongsu1 = pd.read_csv('1분기 키워드/성수1분기.csv')

가게정보에 없는 가게들 날리기

In [216]:
info = pd.read_csv('가게정보/전체가게정보.csv')
info['행정동'].unique()

array(['가회동', '삼청동', '신촌동', '성수2가제3동', '성수1가제2동', '성수1가제1동', '성수2가제1동'],
      dtype=object)

In [217]:
bukchon_info = info[info['행정동'].isin(['가회동', '삼청동'])][['상가업소번호']].reset_index(drop=True)
bukchon = pd.merge(bukchon_info, bukchon1, on='상가업소번호', how='left')
bukchon

                    상가업소번호         가게명     키워드    갯수
0     MA010120220800304264        깡통만두  11000원   6.0
1     MA010120220800304264        깡통만두      간격   4.0
2     MA010120220800304264        깡통만두      국물   7.0
3     MA010120220800304264        깡통만두      국수   4.0
4     MA010120220800304264        깡통만두     기다림   4.0
...                    ...         ...     ...   ...
6495  MA0101202302A0049900  꽃누리들밥 경복궁점     청국장  15.0
6496  MA0101202302A0049900  꽃누리들밥 경복궁점     친절한  13.0
6497  MA0101202302A0049900  꽃누리들밥 경복궁점     편안한  10.0
6498  MA0101202302A0049900  꽃누리들밥 경복궁점     푸짐한  10.0
6499  MA0101202302A0049900  꽃누리들밥 경복궁점      한식  14.0

[6500 rows x 4 columns]

In [218]:
sinchon_info = info[info['행정동'].isin(['신촌동'])][['상가업소번호']].reset_index(drop=True)
sinchon = pd.merge(sinchon_info, sinchon1, on='상가업소번호', how='left')
sinchon

                     상가업소번호        가게명     키워드    갯수
0      MA010120220800603549  소신이쏘 신촌본점     2단계   2.0
1      MA010120220800603549  소신이쏘 신촌본점     가성비   5.0
2      MA010120220800603549  소신이쏘 신촌본점  가성비 좋다   2.0
3      MA010120220800603549  소신이쏘 신촌본점     갈비찜  10.0
4      MA010120220800603549  소신이쏘 신촌본점     계란찜   5.0
...                     ...        ...     ...   ...
16048  MA010120220800639849      소우 오뎅       술   1.0
16049  MA010120220800639849      소우 오뎅      술술   1.0
16050  MA010120220800639849      소우 오뎅  어두침침하다   1.0
16051  MA010120220800639849      소우 오뎅      오뎅   4.0
16052  MA010120220800639849      소우 오뎅    오뎅 바   2.0

[16053 rows x 4 columns]

In [219]:
seongsu_info = info[info['행정동'].isin(['성수2가제3동', '성수1가제2동', '성수1가제1동', '성수2가제1동'])][['상가업소번호']].reset_index(drop=True)
seongsu = pd.merge(seongsu_info, seongsu1, on='상가업소번호', how='left')
seongsu

                     상가업소번호                가게명          키워드    갯수
0      MA010120220804394996           소문난성수감자탕            1   2.0
1      MA010120220804394996           소문난성수감자탕       1 도 이해   1.0
2      MA010120220804394996           소문난성수감자탕  10000원 특별하다   1.0
3      MA010120220804394996           소문난성수감자탕     12시 에 가다   1.0
4      MA010120220804394996           소문난성수감자탕  1월 1일 일출 보고   1.0
...                     ...                ...          ...   ...
93814  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점           좋다  10.0
93815  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점            집   5.0
93816  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점           집밥   2.0
93817  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점         칼칼하다   2.0
93818  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점           크다   2.0

[93819 rows x 4 columns]

중복된 키워드 정리

In [220]:
sinchon = sinchon.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
bukchon = bukchon.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
seongsu = seongsu.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()

전체 지역, 전체 키워드 (가게 정보 워드클라우드, 키워드 순위)

In [221]:
sinchon.to_csv('1분기 키워드/신촌1분기.csv', index=False)
seongsu.to_csv('1분기 키워드/성수1분기.csv', index=False)
bukchon.to_csv('1분기 키워드/북촌1분기.csv', index=False)
pd.DataFrame(bukchon['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/북촌키워드.csv', index=False)
pd.DataFrame(seongsu['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/성수키워드.csv', index=False)
pd.DataFrame(sinchon['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/신촌키워드.csv', index=False)

In [225]:
total = pd.concat([sinchon, bukchon, seongsu], axis=0).reset_index(drop=True)
total.dropna(axis=0,inplace=True)
total = total.reset_index(drop=True)

In [226]:
total_info = info[['행정동', '업종', '상가업소번호']]
total_ = pd.merge(total, total_info, on = '상가업소번호', how='left')
total_

                      상가업소번호   가게명     키워드    갯수      행정동  업종
0                       3301  정육면체  13000원   1.0      신촌동  중식
1                       3301  정육면체  가성비 좋다   1.0      신촌동  중식
2                       3301  정육면체     감칠맛   1.0      신촌동  중식
3                       3301  정육면체  강렬하다 맛   1.0      신촌동  중식
4                       3301  정육면체     강하다   2.0      신촌동  중식
...                      ...   ...     ...   ...      ...  ..
115914  MA0101202302A0106902  뚝도농원     테이블   7.0  성수2가제3동  한식
115915  MA0101202302A0106902  뚝도농원   테이블 과   2.0  성수2가제3동  한식
115916  MA0101202302A0106902  뚝도농원       팅   5.0  성수2가제3동  한식
115917  MA0101202302A0106902  뚝도농원       한  11.0  성수2가제3동  한식
115918  MA0101202302A0106902  뚝도농원       힙   5.0  성수2가제3동  한식

[115919 rows x 6 columns]

In [228]:
total_.to_csv('1분기 키워드/전체1분기.csv', index=False)

가게별 대표 키워드 top 10

In [237]:
# 키워드 top 10 뽑아
keyword_top10 = total_.sort_values(by='갯수', ascending=False).groupby(['상가업소번호', '가게명']).head(10)
keyword_top10 = keyword_top10.sort_values(['가게명', '갯수'], ascending=[False, False]).reset_index(drop=True)

In [238]:
# 키워드 3개 이하인 가게 drop
tmp = keyword_top10.groupby(['상가업소번호', '가게명']).count()
under_3 = tmp[tmp['키워드'] < 3].sort_values('키워드', ascending=False).reset_index()
id = under_3['상가업소번호']

In [239]:
def drop_store(df, list):
    df.set_index('상가업소번호', drop=True, inplace=True)
    df.drop(list, axis=0, inplace=True)
    df.reset_index(inplace=True)

In [240]:
drop_store(keyword_top10, id)

In [243]:
keyword_top10.to_csv('1분기 키워드/1분기_가게별키워드_top10.csv', index=False)

In [236]:
# pd.DataFrame(keyword_top20['키워드'].unique(), columns=['키워드']).to_csv('1분기 키워드/키워드unique.csv', index=False)
unique_keyword = pd.DataFrame(keyword_top10['키워드'].unique(), columns=['키워드'])
unique_keyword.to_csv('1분기 키워드/키워드unique.csv', index=False)

행정동별 업종별 키워드 포함 가게 등장 횟수

In [251]:
keyword_region_category = keyword_top10.groupby(['행정동', '업종', '키워드']).count().reset_index()

In [254]:
keyword_region_category = keyword_region_category[['행정동', '업종', '키워드', '갯수']]
keyword_region_category.rename(columns={'갯수' : '카운트'}, inplace=True)
keyword_region_category

      행정동     업종   키워드  카운트
0     가회동  동남아시아  가지튀김    1
1     가회동  동남아시아    꽃게    1
2     가회동  동남아시아    달다    1
3     가회동  동남아시아  만족하는    1
4     가회동  동남아시아   맛있는    3
...   ...    ...   ...  ...
8731  신촌동     한식    회관    1
8732  신촌동     한식   회덮밥    1
8733  신촌동     한식    후기    1
8734  신촌동     한식  훌륭하다    1
8735  신촌동     한식    힙한    1

[8736 rows x 4 columns]

In [255]:
keyword_region_category.to_csv('1분기 키워드/1분기_키워드_카운트.csv', index=False)

___

긍정비율높은순

In [146]:
total_info = pd.read_csv('가게정보/전체가게정보.csv')
total_sentiment = total_info[['상가업소번호', '업종', '행정동', '긍정 리뷰 비율']]
keyword_top10 = keyword_top10[['상가업소번호', '키워드']]

In [160]:
#total_info_sentiment = total_info.sort_values('긍정 리뷰 비율', ascending=False)[:2000]

                    상가업소번호     업종      행정동  긍정 리뷰 비율
0     MA010120220800304264     한식      가회동      90.0
1                     1100     카페      가회동      96.6
4     MA010120220800002167     한식      삼청동      93.3
9     MA010120220807404834     한식      가회동      96.3
10    MA010120220807099433     한식      삼청동      97.5
...                    ...    ...      ...       ...
2692  MA010120220814157788     한식  성수1가제2동      95.5
2694  MA010120220803764578  패스트푸드  성수1가제2동      87.5
2702  MA010120220807114222     한식  성수1가제2동      97.0
2708  MA010120220803764364     한식  성수1가제2동      88.9
2709  MA010120220805074557     한식  성수1가제2동      94.1

[1131 rows x 4 columns]

In [148]:
total_ = pd.merge(keyword_top20, total_info, on=['상가업소번호'], how='left')

In [151]:
total_info[total_info]

                     상가업소번호                       키워드     업종  행정동  긍정 리뷰 비율
0      MA010120220804895059                       닭고기  동남아시아  신촌동     100.0
9998   MA010120220807721655                       분위기     한식  삼청동     100.0
10000  MA010120220807721655                        본인     한식  삼청동     100.0
10001  MA010120220807721655                        기준     한식  삼청동     100.0
10002  MA010120220807721655                 갈릭 오일 파스타     한식  삼청동     100.0
...                     ...                       ...    ...  ...       ...
11937  MA010120220800558226                       맛있다     한식  신촌동      33.3
11938  MA010120220800558226                        그릇     한식  신촌동      33.3
11920  MA010120220800558226                        한우     한식  신촌동      33.3
11919  MA010120220800558226  한우 라니까 그나마 한우 라니까 그나마 고기     한식  신촌동      33.3
11921  MA010120220800558226               한 그릇 32000원     한식  신촌동      33.3

[18652 rows x 5 columns]