In [113]:
import pandas as pd

In [114]:
sinchon1_2 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드2갯수.csv')
sinchon1_1 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드갯수.csv')
bukchon1_2 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드2갯수.csv')
bukchon1_1 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드갯수.csv')
# seongsu1_2 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드2갯수.csv')
# seongsu1_1 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드갯수.csv')

In [115]:
sinchon1 = pd.concat([sinchon1_2, sinchon1_1], axis=0).reset_index(drop=True)
bukchon1 = pd.concat([bukchon1_2, bukchon1_1], axis=0).reset_index(drop=True)
# seongsu1 = pd.concat([seongsu1_2, seongsu1_1], axis=0).reset_index(drop=True)

In [116]:
print(len(sinchon1))
print(len(bukchon1))
# print(len(seongsu1))

27956
12469

In [117]:
sinchon = sinchon1.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
bukchon = bukchon1.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
# seongsu = seongsu1.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()

In [118]:
sinchon.to_csv('1분기 키워드/신촌1분기.csv', index=False)
# seongsu.to_csv('1분기 키워드/성수1분기.csv', index=False)
bukchon.to_csv('1분기 키워드/북촌1분기.csv', index=False)

In [119]:
# total = pd.concat([sinchon, bukchon, seongsu], axis=0).reset_index(drop=True)
total = pd.concat([sinchon, bukchon], axis=0).reset_index(drop=True)

In [120]:
total.dropna(axis=0,inplace=True)
total = total.reset_index(drop=True)

In [121]:
# total.to_csv('1분기 키워드/전체1분기.csv', index=False)

In [122]:
# 키워드 top 20 뽑아
keyword_top20 = total.sort_values(by='갯수', ascending=False).groupby(['상가업소번호', '가게명']).head(20)
keyword_top20 = keyword_top20.sort_values(['가게명', '갯수'], ascending=[False, False]).reset_index(drop=True)

In [123]:
# 키워드 가게 20개 이하인거 drop
tmp = keyword_top20.groupby(['상가업소번호', '가게명']).count()
under_20 = tmp[tmp['키워드'] < 10].sort_values('키워드', ascending=False).reset_index()
id = under_20['상가업소번호']

In [124]:
def drop_store(df, list):
    df.set_index('상가업소번호', drop=True, inplace=True)
    df.drop(list, axis=0, inplace=True)
    df.reset_index(inplace=True)

In [125]:
drop_store(keyword_top20, id)

In [126]:
# keyword_top20.to_csv('1분기 키워드/1분기_키워드_top20.csv', index=False)

In [127]:
# pd.DataFrame(keyword_top20['키워드'].unique(), columns=['키워드']).to_csv('1분기 키워드/키워드unique.csv', index=False)
unique_keyword = pd.DataFrame(keyword_top20['키워드'].unique(), columns=['키워드'])

___

긍정비율높은순

In [146]:
total_info = pd.read_csv('가게정보/전체가게정보.csv')
total_info = total_info[['상가업소번호', '업종', '행정동', '긍정 리뷰 비율']]
keyword_top20 = keyword_top20[['상가업소번호', '키워드']]

In [160]:
#total_info_sentiment = total_info.sort_values('긍정 리뷰 비율', ascending=False)[:2000]

                    상가업소번호     업종      행정동  긍정 리뷰 비율
0     MA010120220800304264     한식      가회동      90.0
1                     1100     카페      가회동      96.6
4     MA010120220800002167     한식      삼청동      93.3
9     MA010120220807404834     한식      가회동      96.3
10    MA010120220807099433     한식      삼청동      97.5
...                    ...    ...      ...       ...
2692  MA010120220814157788     한식  성수1가제2동      95.5
2694  MA010120220803764578  패스트푸드  성수1가제2동      87.5
2702  MA010120220807114222     한식  성수1가제2동      97.0
2708  MA010120220803764364     한식  성수1가제2동      88.9
2709  MA010120220805074557     한식  성수1가제2동      94.1

[1131 rows x 4 columns]

In [148]:
total_ = pd.merge(keyword_top20, total_info, on=['상가업소번호'], how='left')

In [151]:
total_info[total_info]

                     상가업소번호                       키워드     업종  행정동  긍정 리뷰 비율
0      MA010120220804895059                       닭고기  동남아시아  신촌동     100.0
9998   MA010120220807721655                       분위기     한식  삼청동     100.0
10000  MA010120220807721655                        본인     한식  삼청동     100.0
10001  MA010120220807721655                        기준     한식  삼청동     100.0
10002  MA010120220807721655                 갈릭 오일 파스타     한식  삼청동     100.0
...                     ...                       ...    ...  ...       ...
11937  MA010120220800558226                       맛있다     한식  신촌동      33.3
11938  MA010120220800558226                        그릇     한식  신촌동      33.3
11920  MA010120220800558226                        한우     한식  신촌동      33.3
11919  MA010120220800558226  한우 라니까 그나마 한우 라니까 그나마 고기     한식  신촌동      33.3
11921  MA010120220800558226               한 그릇 32000원     한식  신촌동      33.3

[18652 rows x 5 columns]