In [2]:
import pandas as pd

In [328]:
sinchon1 = pd.read_csv('1분기 키워드/신촌1분기.csv')

In [317]:
sinchon1['키워드'] = sinchon1['키워드'].str.replace('항상', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('아주', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('진짜', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('완전', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('굿', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('굿굿', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('굿굿굿', '')
sinchon1['키워드'] = sinchon1['키워드'].str.replace('제일', '')
sinchon1['키워드'] = sinchon1['키워드'].str.strip()

In [329]:
sinchon1.dropna(axis=0,inplace=True)
sinchon1=sinchon1.reset_index(drop=True)

In [ ]:
    # elif ' 신선한' in sinchon1['키워드'][i]:
    #     word = '신선한 ' + sinchon1['키워드'][i].replace(' 신선한', '')
    #     sinchon1['키워드'][i] = word

In [330]:
for i in range(len(sinchon1)):
    if ' 더러운' in sinchon1['키워드'][i]:
        word = '더러운 ' + sinchon1['키워드'][i].replace(' 더러운', '')
        sinchon1['키워드'][i] = word
    elif ' 꾸덕한' in sinchon1['키워드'][i]:
        word = '꾸덕한 ' + sinchon1['키워드'][i].replace(' 꾸덕한', '')
        sinchon1['키워드'][i] = word
    elif ' 깨끗한' in sinchon1['키워드'][i]:
        word = '깨끗한 ' + sinchon1['키워드'][i].replace(' 깨끗한', '')
        sinchon1['키워드'][i] = word
    elif ' 깔끔한' in sinchon1['키워드'][i]:
        word = '깔끔한 ' + sinchon1['키워드'][i].replace(' 깔끔한', '')
        sinchon1['키워드'][i] = word
    elif ' 넉넉한' in sinchon1['키워드'][i]:
        word = '넉넉한 ' + sinchon1['키워드'][i].replace(' 넉넉한', '')
        sinchon1['키워드'][i] = word
    elif ' 넓은' in sinchon1['키워드'][i]:
        word = '넓은 ' + sinchon1['키워드'][i].replace(' 넓은', '')
        sinchon1['키워드'][i] = word
    elif ' 친절한' in sinchon1['키워드'][i]:
        word = '친절한 ' + sinchon1['키워드'][i].replace(' 친절한', '')
        sinchon1['키워드'][i] = word
    elif ' 다양한' in sinchon1['키워드'][i]:
        word = '다양한 ' + sinchon1['키워드'][i].replace(' 다양한', '')
        sinchon1['키워드'][i] = word
    elif ' 따뜻한' in sinchon1['키워드'][i]:
        word = '따뜻한 ' + sinchon1['키워드'][i].replace(' 따뜻한', '')
        sinchon1['키워드'][i] = word
    elif ' 넓은' in sinchon1['키워드'][i]:
        word = '넓은 ' + sinchon1['키워드'][i].replace(' 넓은', '')
        sinchon1['키워드'][i] = word
    elif ' 좁은' in sinchon1['키워드'][i]:
        word = '좁은 ' + sinchon1['키워드'][i].replace(' 좁은', '')
        sinchon1['키워드'][i] = word
    elif ' 무난한' in sinchon1['키워드'][i]:
        word = '무난한 ' + sinchon1['키워드'][i].replace(' 무난한', '')
        sinchon1['키워드'][i] = word
    elif ' 매콤한' in sinchon1['키워드'][i]:
        word = '매콤한 ' + sinchon1['키워드'][i].replace(' 매콤한', '')
        sinchon1['키워드'][i] = word
    elif ' 매운' in sinchon1['키워드'][i]:
        word = '매운 ' + sinchon1['키워드'][i].replace(' 매운', '')
        sinchon1['키워드'][i] = word
    elif ' 바삭한' in sinchon1['키워드'][i]:
        word = '바삭한 ' + sinchon1['키워드'][i].replace(' 바삭한', '')
        sinchon1['키워드'][i] = word
    elif ' 부드러운' in sinchon1['키워드'][i]:
        word = '부드러운 ' + sinchon1['키워드'][i].replace(' 부드러운', '')
        sinchon1['키워드'][i] = word
    elif ' 생각나는' in sinchon1['키워드'][i]:
        word = '생각나는 ' + sinchon1['키워드'][i].replace(' 생각나는', '')
        sinchon1['키워드'][i] = word
    elif ' 귀여운' in sinchon1['키워드'][i]:
        word = '귀여운 ' + sinchon1['키워드'][i].replace(' 귀여운', '')
        sinchon1['키워드'][i] = word
    elif ' 촉촉한' in sinchon1['키워드'][i]:
        word = '촉촉한 ' + sinchon1['키워드'][i].replace(' 촉촉한', '')
        sinchon1['키워드'][i] = word
    elif ' 훌륭한' in sinchon1['키워드'][i]:
        word = '훌륭한 ' + sinchon1['키워드'][i].replace(' 훌륭한', '')
        sinchon1['키워드'][i] = word
    elif ' 얼큰한' in sinchon1['키워드'][i]:
        word = '얼큰한 ' + sinchon1['키워드'][i].replace(' 얼큰한', '')
        sinchon1['키워드'][i] = word
    elif ' 느끼한' in sinchon1['키워드'][i]:
        word = '느끼한 ' + sinchon1['키워드'][i].replace(' 느끼한', '')
        sinchon1['키워드'][i] = word
    elif ' 강한' in sinchon1['키워드'][i]:
        word = '강한 ' + sinchon1['키워드'][i].replace(' 강한', '')
        sinchon1['키워드'][i] = word
    elif ' 두꺼운' in sinchon1['키워드'][i]:
        word = '두꺼운 ' + sinchon1['키워드'][i].replace(' 두꺼운', '')
        sinchon1['키워드'][i] = word
    elif ' 아쉬운' in sinchon1['키워드'][i]:
        word = '아쉬운 ' + sinchon1['키워드'][i].replace(' 아쉬운', '')
        sinchon1['키워드'][i] = word
    elif ' 신선한' in sinchon1['키워드'][i]:
        word = '신선한 ' + sinchon1['키워드'][i].replace(' 신선한', '')
        sinchon1['키워드'][i] = word

/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word
/var/folders/_h/01sg36f517vbjkzx0rbyfjm80000gn/T/ipykernel_23295/2494461355.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinchon1['키워드'][i] = word

In [331]:
sinchon1 = sinchon1.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()

In [332]:
sinchon1.to_csv('1분기 키워드/신촌1분기.csv', index=False)

____

In [114]:
# sinchon1_2 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드2갯수.csv')
# sinchon1_1 = pd.read_csv('./가게별 키워드 개수/신촌_23년1분기_가게별_키워드갯수.csv')
# bukchon1_2 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드2갯수.csv')
# bukchon1_1 = pd.read_csv('./가게별 키워드 개수/북촌_23년1분기_가게별_키워드갯수.csv')
# seongsu1_2 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드2갯수.csv')
# seongsu1_1 = pd.read_csv('./가게별 키워드 개수/성수_23년1분기_가게별_키워드갯수.csv')

In [49]:
bukchon1 = pd.read_csv('1분기 키워드/북촌1분기.csv')
sinchon1 = pd.read_csv('1분기 키워드/신촌1분기.csv')
seongsu1 = pd.read_csv('1분기 키워드/성수1분기.csv')

가게정보에 없는 가게들 날리기

In [50]:
info = pd.read_csv('가게정보/전체가게정보.csv')
info['행정동'].unique()

array(['가회동', '삼청동', '신촌동', '성수2가제3동', '성수1가제2동', '성수1가제1동', '성수2가제1동'],
      dtype=object)

In [51]:
bukchon_info = info[info['행정동'].isin(['가회동', '삼청동'])][['상가업소번호']].reset_index(drop=True)
bukchon = pd.merge(bukchon_info, bukchon1, on='상가업소번호', how='left')
bukchon

                    상가업소번호         가게명     키워드    갯수
0     MA010120220800304264        깡통만두  11000원   6.0
1     MA010120220800304264        깡통만두      간격   4.0
2     MA010120220800304264        깡통만두      국물   7.0
3     MA010120220800304264        깡통만두      국수   4.0
4     MA010120220800304264        깡통만두     기다림   4.0
...                    ...         ...     ...   ...
6407  MA0101202302A0049900  꽃누리들밥 경복궁점     청국장  15.0
6408  MA0101202302A0049900  꽃누리들밥 경복궁점     친절한  13.0
6409  MA0101202302A0049900  꽃누리들밥 경복궁점      편한  10.0
6410  MA0101202302A0049900  꽃누리들밥 경복궁점     푸짐한  10.0
6411  MA0101202302A0049900  꽃누리들밥 경복궁점      한식  14.0

[6412 rows x 4 columns]

In [52]:
sinchon_info = info[info['행정동'].isin(['신촌동'])][['상가업소번호']].reset_index(drop=True)
sinchon = pd.merge(sinchon_info, sinchon1, on='상가업소번호', how='left')
sinchon

                     상가업소번호        가게명     키워드    갯수
0      MA010120220800603549  소신이쏘 신촌본점     2단계   2.0
1      MA010120220800603549  소신이쏘 신촌본점     가성비   5.0
2      MA010120220800603549  소신이쏘 신촌본점  가성비 좋은   2.0
3      MA010120220800603549  소신이쏘 신촌본점     갈비찜  10.0
4      MA010120220800603549  소신이쏘 신촌본점     계란찜   5.0
...                     ...        ...     ...   ...
11024  MA010120220800639849      소우 오뎅       술   1.0
11025  MA010120220800639849      소우 오뎅      술술   1.0
11026  MA010120220800639849      소우 오뎅     어두운   1.0
11027  MA010120220800639849      소우 오뎅      오뎅   4.0
11028  MA010120220800639849      소우 오뎅    오뎅 바   2.0

[11029 rows x 4 columns]

In [53]:
seongsu_info = info[info['행정동'].isin(['성수2가제3동', '성수1가제2동', '성수1가제1동', '성수2가제1동'])][['상가업소번호']].reset_index(drop=True)
seongsu = pd.merge(seongsu_info, seongsu1, on='상가업소번호', how='left')
seongsu

                     상가업소번호                가게명          키워드  갯수
0      MA010120220804394996           소문난성수감자탕  1월 1일 일출 보고   1
1      MA010120220804394996           소문난성수감자탕    3040분은 대기   1
2      MA010120220804394996           소문난성수감자탕           감자   3
3      MA010120220804394996           소문난성수감자탕          감자탕  19
4      MA010120220804394996           소문난성수감자탕       감자탕 맛집   1
...                     ...                ...          ...  ..
32289  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점          저렴한   3
32290  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점           점심   5
32291  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점     점심 먹기 좋다   2
32292  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점           집밥   2
32293  MA010120220805074557  안뜰 생선구이동태대구탕 뚝섬역점          칼칼한   2

[32294 rows x 4 columns]

중복된 키워드 정리

In [54]:
sinchon = sinchon.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
bukchon = bukchon.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()
seongsu = seongsu.groupby(['상가업소번호', '가게명', '키워드']).sum().reset_index()

전체 지역, 전체 키워드 (가게 정보 워드클라우드, 키워드 순위)

In [55]:
sinchon.to_csv('1분기 키워드/신촌1분기.csv', index=False)
seongsu.to_csv('1분기 키워드/성수1분기.csv', index=False)
bukchon.to_csv('1분기 키워드/북촌1분기.csv', index=False)
pd.DataFrame(bukchon['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/북촌키워드.csv', index=False)
pd.DataFrame(seongsu['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/성수키워드.csv', index=False)
pd.DataFrame(sinchon['키워드'].unique(), columns=['키워드']).sort_values('키워드').to_csv('1분기 키워드/신촌키워드.csv', index=False)

In [56]:
total = pd.concat([sinchon, bukchon, seongsu], axis=0).reset_index(drop=True)
total.dropna(axis=0,inplace=True)
total = total.reset_index(drop=True)

In [57]:
total_info = info[['행정동', '업종', '상가업소번호']]
total_ = pd.merge(total, total_info, on = '상가업소번호', how='left')
total_.reset_index(drop=True, inplace=True)

가게별 대표 키워드 top 10

In [58]:
# 키워드 top 10 뽑아
keyword_top10 = total_.sort_values(by='갯수', ascending=False).groupby(['상가업소번호', '가게명']).head(10)
keyword_top10 = keyword_top10.sort_values(['가게명', '갯수'], ascending=[False, False]).reset_index(drop=True)

In [59]:
# 키워드 3개 이하인 가게 drop
tmp = keyword_top10.groupby(['상가업소번호', '가게명']).count()
under_3 = tmp[tmp['키워드'] < 3].sort_values('키워드', ascending=False).reset_index()
id = under_3['상가업소번호']

In [60]:
def drop_store(df, list):
    df.set_index('상가업소번호', drop=True, inplace=True)
    df.drop(list, axis=0, inplace=True)
    df.reset_index(inplace=True)

In [61]:
drop_store(keyword_top10, id)

In [62]:
drop_store(total_, id)

In [63]:
keyword_top10.to_csv('1분기 키워드/1분기_가게별키워드_top10.csv', index=False)
total_.to_csv('1분기 키워드/전체1분기.csv', index=False)

In [64]:
# pd.DataFrame(keyword_top20['키워드'].unique(), columns=['키워드']).to_csv('1분기 키워드/키워드unique.csv', index=False)
unique_keyword = pd.DataFrame(keyword_top10['키워드'].unique(), columns=['키워드'])
unique_keyword.to_csv('1분기 키워드/키워드unique.csv', index=False)

행정동별 업종별 키워드 포함 가게 등장 횟수

In [65]:
keyword_region_category = keyword_top10.groupby(['행정동', '업종', '키워드']).count().reset_index()

In [66]:
keyword_region_category = keyword_region_category[['행정동', '업종', '키워드', '갯수']]
keyword_region_category.rename(columns={'갯수' : '카운트'}, inplace=True)
keyword_region_category

      행정동     업종     키워드  카운트
0     가회동  동남아시아    가지튀김    1
1     가회동  동남아시아      고기    1
2     가회동  동남아시아      귀한    1
3     가회동  동남아시아      꽃게    1
4     가회동  동남아시아      넓은    1
...   ...    ...     ...  ...
9074  신촌동     한식  회덮밥 가격    1
9075  신촌동     한식    훈제오리    1
9076  신촌동     한식     훌륭한    1
9077  신촌동     한식      힙한    1
9078  신촌동     한식   힙한 가게    1

[9079 rows x 4 columns]

In [67]:
keyword_region_category.to_csv('1분기 키워드/1분기_키워드_카운트.csv', index=False)

___

_____

긍정비율높은순

In [146]:
total_info = pd.read_csv('가게정보/전체가게정보.csv')
total_sentiment = total_info[['상가업소번호', '업종', '행정동', '긍정 리뷰 비율']]
keyword_top10 = keyword_top10[['상가업소번호', '키워드']]

In [160]:
#total_info_sentiment = total_info.sort_values('긍정 리뷰 비율', ascending=False)[:2000]

                    상가업소번호     업종      행정동  긍정 리뷰 비율
0     MA010120220800304264     한식      가회동      90.0
1                     1100     카페      가회동      96.6
4     MA010120220800002167     한식      삼청동      93.3
9     MA010120220807404834     한식      가회동      96.3
10    MA010120220807099433     한식      삼청동      97.5
...                    ...    ...      ...       ...
2692  MA010120220814157788     한식  성수1가제2동      95.5
2694  MA010120220803764578  패스트푸드  성수1가제2동      87.5
2702  MA010120220807114222     한식  성수1가제2동      97.0
2708  MA010120220803764364     한식  성수1가제2동      88.9
2709  MA010120220805074557     한식  성수1가제2동      94.1

[1131 rows x 4 columns]

In [148]:
total_ = pd.merge(keyword_top20, total_info, on=['상가업소번호'], how='left')

In [151]:
total_info[total_info]

                     상가업소번호                       키워드     업종  행정동  긍정 리뷰 비율
0      MA010120220804895059                       닭고기  동남아시아  신촌동     100.0
9998   MA010120220807721655                       분위기     한식  삼청동     100.0
10000  MA010120220807721655                        본인     한식  삼청동     100.0
10001  MA010120220807721655                        기준     한식  삼청동     100.0
10002  MA010120220807721655                 갈릭 오일 파스타     한식  삼청동     100.0
...                     ...                       ...    ...  ...       ...
11937  MA010120220800558226                       맛있다     한식  신촌동      33.3
11938  MA010120220800558226                        그릇     한식  신촌동      33.3
11920  MA010120220800558226                        한우     한식  신촌동      33.3
11919  MA010120220800558226  한우 라니까 그나마 한우 라니까 그나마 고기     한식  신촌동      33.3
11921  MA010120220800558226               한 그릇 32000원     한식  신촌동      33.3

[18652 rows x 5 columns]

____

지연이 줄 파일 정리

가게-키워드

In [68]:
keyword_top10[(keyword_top10['행정동']=='신촌동')][['업종', '상가업소번호', '가게명', '키워드']].to_csv('정지연/신촌top10.csv', index=False)
keyword_top10[(keyword_top10['행정동']=='가회동')][['업종', '상가업소번호', '가게명', '키워드']].to_csv('정지연/가회top10.csv', index=False)
keyword_top10[(keyword_top10['행정동']=='삼청동')][['업종', '상가업소번호', '가게명', '키워드']].to_csv('정지연/삼청top10.csv', index=False)

In [69]:
keyword_top10['행정동'].unique()

array(['성수2가제1동', '성수1가제2동', '성수1가제1동', '가회동', '성수2가제3동', '삼청동', '신촌동'],
      dtype=object)

In [70]:
pd.DataFrame(keyword_top10[keyword_top10['행정동'].isin(['가회동', '신촌동', '삼청동'])]['키워드'].unique(), columns=['키워드']).to_csv('정지연/키워드unique.csv', index=False)

In [71]:
keyword_region_category[keyword_region_category['행정동'].isin(['가회동', '신촌동', '삼청동'])].to_csv('정지연/1분기_키워드_카운트.csv', index=False)

____

가게정보정리

In [72]:
info = pd.read_csv('가게정보/전체가게정보.csv')
keyword = pd.read_csv('1분기 키워드/1분기_가게별키워드_top10.csv')
keyword_id = set(keyword['상가업소번호'].unique())
info_id = set(info['상가업소번호'].unique())
drop_list = list(info_id - keyword_id)
drop_list

['MA010120220810120025', 'MA010120220803734885']

In [73]:
drop_store(info, drop_list)

In [74]:
info.to_csv('가게정보/전체가게정보.csv', index=False)

In [75]:
aaaaa = keyword[['상가업소번호', '가게명']].groupby(['상가업소번호']).nunique()
aaaaa[aaaaa['가게명']!= 1]

Empty DataFrame
Columns: [가게명]
Index: []

___

키워드 포함 리뷰 찾기

In [76]:
keywords = pd.read_csv('1분기 키워드/1분기_가게별키워드_top10.csv')
keywords['행정동'].unique()

array(['성수2가제1동', '성수1가제2동', '성수1가제1동', '가회동', '성수2가제3동', '삼청동', '신촌동'],
      dtype=object)

In [82]:
def keyword_replace(df):
    df['keyword_stem'] = df['keyword_stem'].str.replace('좋다', '좋은')
    df['keyword_stem'] = df['keyword_stem'].str.replace('더럽다', '더러운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('꾸다 덕', '꾸덕한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('깨끗하다', '깨끗한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('깔끔하다', '깔끔한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('넉넉하다', '넉넉한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('넓다', '넓은')
    df['keyword_stem'] = df['keyword_stem'].str.replace('친절하다', '친절한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('다양하다', '다양한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('따뜻하다', '따뜻한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('좁다', '좁은')
    df['keyword_stem'] = df['keyword_stem'].str.replace('무난하다', '무난한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('매콤하다', '매콤한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('맵다', '매운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('바삭하다', '바삭한').str.replace('바삭바삭한', '바삭한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('부드럽다', '부드러운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('생각나다', '생각나는')
    df['keyword_stem'] = df['keyword_stem'].str.replace('귀엽다', '귀여운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('촉촉하다', '촉촉한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('훌륭하다', '훌륭한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('얼큰하다', '얼큰한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('느끼하다', '느끼한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('강하다', '강한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('두껍다', '두꺼운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('아쉽다', '아쉬운')
    df['keyword_stem'] = df['keyword_stem'].str.replace('신선하다', '신선한')
    df['keyword_stem'] = df['keyword_stem'].str.replace('맛있다', '맛있는')
    df['keyword_stem'] = df['keyword_stem'].str.replace('예쁘다', '예쁜')
    df['keyword_stem'] = df['keyword_stem'].str.replace('멋지다', '멋진')

##### 북촌

In [306]:
reviews_bukchon = pd.read_csv('키워드/북촌리뷰_23년1분기_키워드_전처리.csv')
keyword_bukchon = keywords[keywords['행정동'].isin(['삼청동', '가회동'])].reset_index(drop=True)
keyword_bukchon['키워드2'] = keyword_bukchon['키워드'].str.replace(' ', '')
reviews_bukchon = reviews_bukchon[['상가업소번호', '리뷰', 'keyword_stem1']]
reviews_bukchon.dropna(inplace=True)
reviews_bukchon['keyword_stem1'] = reviews_bukchon['keyword_stem1'].str.replace(',', '').str.replace(' ', '').str.replace("''", "")
reviews_bukchon.drop(reviews_bukchon[reviews_bukchon['keyword_stem1']==''].index, axis=0, inplace=True)
reviews_bukchon.reset_index(drop=True, inplace=True)
keyword_replace(reviews_bukchon)

In [307]:
bukchon_review_keyword = pd.merge(keyword_bukchon, reviews_bukchon, on='상가업소번호', how='left')

id = []
for i in range(len(bukchon_review_keyword)):
    if bukchon_review_keyword['키워드2'][i] in bukchon_review_keyword['리뷰'][i]:
        id.append(i)
    elif bukchon_review_keyword['키워드2'][i] in bukchon_review_keyword['keyword_stem1'][i]:
        id.append(i)

In [308]:
bukchon_review_keyword = bukchon_review_keyword.loc[id].reset_index(drop=True)[['상가업소번호', '키워드', '리뷰']]

bukchon_review_keyword.loc[bukchon_review_keyword[bukchon_review_keyword.duplicated(['상가업소번호', '리뷰'], keep=False)].sort_values(['상가업소번호', '리뷰']).index, '중복'] = 1
bukchon_review_keyword['중복'].fillna(0, inplace=True)
bukchon_reviewsss_keyword = bukchon_review_keyword[bukchon_review_keyword['중복']==0].drop_duplicates(['상가업소번호', '키워드'], keep='first').reset_index(drop=True)

In [309]:
id = []
for i in range(len(bukchon_reviewsss_keyword)):
    id += list(bukchon_review_keyword[(bukchon_review_keyword['상가업소번호']==bukchon_reviewsss_keyword['상가업소번호'][i]) & (bukchon_review_keyword['키워드']==bukchon_reviewsss_keyword['키워드'][i])].index)
bukchon_review_keyword.drop(id, axis=0, inplace=True)
bukchon_review_keyword.reset_index(drop=True, inplace=True)

In [310]:
while(1):
    tmp = bukchon_review_keyword.groupby(['상가업소번호', '키워드']).count().reset_index()
    tmp2 = tmp[tmp['리뷰']==1].reset_index(drop=True)
    if len(tmp2) == 0:
        break

    id = []
    for i in range(len(tmp2)):
        id += list(bukchon_review_keyword[(bukchon_review_keyword['상가업소번호']==tmp2['상가업소번호'][i]) & (bukchon_review_keyword['키워드']==tmp2['키워드'][i])].index)
    review1 = bukchon_review_keyword.loc[id].reset_index(drop=True)
    bukchon_reviewsss_keyword = pd.concat([bukchon_reviewsss_keyword, review1], axis=0)

    id = []
    for i in range(len(review1)):
        id += list(bukchon_review_keyword[(bukchon_review_keyword['상가업소번호']==review1['상가업소번호'][i]) & (bukchon_review_keyword['리뷰']==review1['리뷰'][i])].index)
    bukchon_review_keyword.drop(id, axis=0, inplace=True)
    bukchon_review_keyword.reset_index(drop=True, inplace=True)

In [311]:
bukchon_review_keyword = bukchon_review_keyword.drop_duplicates(['상가업소번호', '키워드'], keep='last').reset_index()
bukchon_reviewsss_keyword = pd.concat([bukchon_reviewsss_keyword, bukchon_review_keyword], axis=0)
bukchon_reviewsss_keyword = bukchon_reviewsss_keyword[['상가업소번호', '키워드', '리뷰']]

In [312]:
keyword_bukchon.drop('키워드2', axis=1, inplace=True)
bukchon_reviewsss_keyword = pd.merge(keyword_bukchon, bukchon_reviewsss_keyword, on=['상가업소번호', '키워드'], how='left')
# bukchon_reviewsss_keyword.to_csv('1분기 키워드/키워드_리뷰/북촌_키워드_리뷰.csv', index=False)

##### 신촌

In [471]:
reviews_sinchon = pd.read_csv('키워드/신촌리뷰_23년1분기_키워드_전처리.csv')
keyword_sinchon = keywords[keywords['행정동'].isin(['신촌동'])].reset_index(drop=True)
keyword_sinchon['키워드2'] = keyword_sinchon['키워드'].str.replace(' ', '')
reviews_sinchon = reviews_sinchon[['상가업소번호', '리뷰', 'keyword_stem1']]
reviews_sinchon.dropna(inplace=True)
reviews_sinchon['keyword_stem1'] = reviews_sinchon['keyword_stem1'].str.replace(',', '').str.replace(' ', '').str.replace("''", "")
reviews_sinchon.drop(reviews_sinchon[reviews_sinchon['keyword_stem1']==''].index, axis=0, inplace=True)
reviews_sinchon.reset_index(drop=True, inplace=True)
keyword_replace(reviews_sinchon)

In [472]:
sinchon_review_keyword = pd.merge(keyword_sinchon, reviews_sinchon, on='상가업소번호', how='left')

id = []
for i in range(len(sinchon_review_keyword)):
    if sinchon_review_keyword['키워드2'][i] in sinchon_review_keyword['리뷰'][i]:
        id.append(i)
    elif sinchon_review_keyword['키워드2'][i] in sinchon_review_keyword['keyword_stem1'][i]:
        id.append(i)

In [473]:
sinchon_review_keyword = sinchon_review_keyword.loc[id].reset_index(drop=True)[['상가업소번호', '키워드', '리뷰']]

sinchon_review_keyword.loc[sinchon_review_keyword[sinchon_review_keyword.duplicated(['상가업소번호', '리뷰'], keep=False)].sort_values(['상가업소번호', '리뷰']).index, '중복'] = 1
sinchon_review_keyword['중복'].fillna(0, inplace=True)
sinchon_reviewsss_keyword = sinchon_review_keyword[sinchon_review_keyword['중복']==0].drop_duplicates(['상가업소번호', '키워드'], keep='first').reset_index(drop=True)

In [474]:
id = []
for i in range(len(sinchon_reviewsss_keyword)):
    id += list(sinchon_review_keyword[(sinchon_review_keyword['상가업소번호']==sinchon_reviewsss_keyword['상가업소번호'][i]) & (sinchon_review_keyword['키워드']==sinchon_reviewsss_keyword['키워드'][i])].index)
sinchon_review_keyword.drop(id, axis=0, inplace=True)
sinchon_review_keyword.reset_index(drop=True, inplace=True)

In [475]:
while(1):
    tmp = sinchon_review_keyword.groupby(['상가업소번호', '키워드']).count().reset_index()
    tmp2 = tmp[tmp['리뷰']==1].reset_index(drop=True)
    if len(tmp2) == 0:
        break

    id = []
    for i in range(len(tmp2)):
        id += list(sinchon_review_keyword[(sinchon_review_keyword['상가업소번호']==tmp2['상가업소번호'][i]) & (sinchon_review_keyword['키워드']==tmp2['키워드'][i])].index)
    review1 = sinchon_review_keyword.loc[id].reset_index(drop=True)
    sinchon_reviewsss_keyword = pd.concat([sinchon_reviewsss_keyword, review1], axis=0)

    id = []
    for i in range(len(review1)):
        id += list(sinchon_review_keyword[(sinchon_review_keyword['상가업소번호']==review1['상가업소번호'][i]) & (sinchon_review_keyword['리뷰']==review1['리뷰'][i])].index)
    sinchon_review_keyword.drop(id, axis=0, inplace=True)
    sinchon_review_keyword.reset_index(drop=True, inplace=True)

In [476]:
sinchon_review_keyword = sinchon_review_keyword.drop_duplicates(['상가업소번호', '키워드'], keep='last').reset_index()
sinchon_reviewsss_keyword = pd.concat([sinchon_reviewsss_keyword, sinchon_review_keyword], axis=0)
sinchon_reviewsss_keyword = sinchon_reviewsss_keyword[['상가업소번호', '키워드', '리뷰']]

In [477]:
keyword_sinchon.drop('키워드2', axis=1, inplace=True)
sinchon_reviewsss_keyword = pd.merge(keyword_sinchon, sinchon_reviewsss_keyword, on=['상가업소번호', '키워드'], how='left')
sinchon_reviewsss_keyword.to_csv('1분기 키워드/키워드_리뷰/신촌_키워드_리뷰.csv', index=False)

In [478]:
sinchon_reviewsss_keyword[sinchon_reviewsss_keyword['리뷰'].isna()]

,상가업소번호,가게명,키워드,갯수,행정동,업종,리뷰
25,MA010120220803733841,화가와요리사,그림,2.0,신촌동,한식,NaN
27,MA010120220803733841,화가와요리사,바쁜,1.0,신촌동,한식,NaN
50,MA010120220800576445,홍초불닭 신촌본점,맛있는,3.0,신촌동,한식,NaN
54,MA010120220800576445,홍초불닭 신촌본점,맛있는 마요소스,1.0,신촌동,한식,NaN
56,MA010120220800576445,홍초불닭 신촌본점,마요소스랑 어울리는,1.0,신촌동,한식,NaN
...,...,...,...,...,...,...,...
5449,MA010120220812744120,1987피자,젊은 사장님,1.0,신촌동,서양식,NaN
5454,MA010120220800105723,1943신촌점,늦은,1.0,신촌동,주점,NaN
5455,MA010120220800105723,1943신촌점,넓은 내부,1.0,신촌동,주점,NaN
5471,MA010120220806481772,101번지남산돈까스 현대백화점 신촌점,비싼,2.0,신촌동,서양식,NaN
5475,MA010120220806481772,101번지남산돈까스 현대백화점 신촌점,간단한,2.0,신촌동,서양식,NaN

##### 성수

In [83]:
reviews_seongsu = pd.read_csv('키워드/성수리뷰_23년1분기_키워드_전처리.csv')
keyword_seongsu = keywords[keywords['행정동'].isin(['성수2가제1동', '성수1가제2동', '성수1가제1동', '성수2가제3동'])].reset_index(drop=True)
keyword_seongsu['키워드2'] = keyword_seongsu['키워드'].str.replace(' ', '')
reviews_seongsu = reviews_seongsu[['상가업소번호', '리뷰', 'keyword_stem']]
reviews_seongsu.dropna(inplace=True)
reviews_seongsu['keyword_stem'] = reviews_seongsu['keyword_stem'].str.replace(',', '').str.replace(' ', '').str.replace("''", "")
reviews_seongsu.drop(reviews_seongsu[reviews_seongsu['keyword_stem']==''].index, axis=0, inplace=True)
reviews_seongsu.reset_index(drop=True, inplace=True)
keyword_replace(reviews_seongsu)

In [84]:
seongsu_review_keyword = pd.merge(keyword_seongsu, reviews_seongsu, on='상가업소번호', how='left')

id = []
for i in range(len(seongsu_review_keyword)):
    if seongsu_review_keyword['키워드2'][i] in seongsu_review_keyword['리뷰'][i]:
        id.append(i)
    elif seongsu_review_keyword['키워드2'][i] in seongsu_review_keyword['keyword_stem'][i]:
        id.append(i)

In [85]:
seongsu_review_keyword = seongsu_review_keyword.loc[id].reset_index(drop=True)[['상가업소번호', '키워드', '리뷰']]

seongsu_review_keyword.loc[seongsu_review_keyword[seongsu_review_keyword.duplicated(['상가업소번호', '리뷰'], keep=False)].sort_values(['상가업소번호', '리뷰']).index, '중복'] = 1
seongsu_review_keyword['중복'].fillna(0, inplace=True)
seongsu_reviewsss_keyword = seongsu_review_keyword[seongsu_review_keyword['중복']==0].drop_duplicates(['상가업소번호', '키워드'], keep='first').reset_index(drop=True)

In [86]:
id = []
for i in range(len(seongsu_reviewsss_keyword)):
    id += list(seongsu_review_keyword[(seongsu_review_keyword['상가업소번호']==seongsu_reviewsss_keyword['상가업소번호'][i]) & (seongsu_review_keyword['키워드']==seongsu_reviewsss_keyword['키워드'][i])].index)
seongsu_review_keyword.drop(id, axis=0, inplace=True)
seongsu_review_keyword.reset_index(drop=True, inplace=True)

In [87]:
while(1):
    tmp = seongsu_review_keyword.groupby(['상가업소번호', '키워드']).count().reset_index()
    tmp2 = tmp[tmp['리뷰']==1].reset_index(drop=True)
    if len(tmp2) == 0:
        break

    id = []
    for i in range(len(tmp2)):
        id += list(seongsu_review_keyword[(seongsu_review_keyword['상가업소번호']==tmp2['상가업소번호'][i]) & (seongsu_review_keyword['키워드']==tmp2['키워드'][i])].index)
    review1 = seongsu_review_keyword.loc[id].reset_index(drop=True)
    seongsu_reviewsss_keyword = pd.concat([seongsu_reviewsss_keyword, review1], axis=0)

    id = []
    for i in range(len(review1)):
        id += list(seongsu_review_keyword[(seongsu_review_keyword['상가업소번호']==review1['상가업소번호'][i]) & (seongsu_review_keyword['리뷰']==review1['리뷰'][i])].index)
    seongsu_review_keyword.drop(id, axis=0, inplace=True)
    seongsu_review_keyword.reset_index(drop=True, inplace=True)

In [88]:
seongsu_review_keyword = seongsu_review_keyword.drop_duplicates(['상가업소번호', '키워드'], keep='last').reset_index()
seongsu_reviewsss_keyword = pd.concat([seongsu_reviewsss_keyword, seongsu_review_keyword], axis=0)
seongsu_reviewsss_keyword = seongsu_reviewsss_keyword[['상가업소번호', '키워드', '리뷰']]

In [89]:
keyword_seongsu.drop('키워드2', axis=1, inplace=True)
seongsu_reviewsss_keyword = pd.merge(keyword_seongsu, seongsu_reviewsss_keyword, on=['상가업소번호', '키워드'], how='left')
seongsu_reviewsss_keyword.to_csv('1분기 키워드/키워드_리뷰/성수_키워드_리뷰.csv', index=False)

In [479]:
# sinchon.to_csv('1분기 키워드/신촌1분기.csv', index=False)
# sinchon = pd.read_csv('1분기 키워드/신촌1분기.csv')

In [402]:
# sinchon.loc[sinchon['키워드']=='아쉽다', '키워드'] = '아쉬운'
# sinchon.loc[sinchon['키워드']=='작다', '키워드'] = '작은'
# sinchon.loc[sinchon['키워드']=='적다', '키워드'] = '적은'
# sinchon.loc[sinchon['키워드']=='어둑어둑하다', '키워드'] = '어둑한'
# sinchon.loc[sinchon['키워드']=='커피 보다', '키워드'] = '커피'
# sinchon.loc[sinchon['키워드']=='신기하다', '키워드'] = '신기한'
# sinchon.loc[sinchon['키워드']=='즐기다', '키워드'] = '즐기는'
# sinchon.loc[sinchon['키워드']=='알차다', '키워드'] = '알찬'

# sinchon.loc[sinchon['키워드']=='크다', '키워드'] = '큰'
# sinchon.loc[sinchon['키워드']=='아기자기하다', '키워드'] = '아기자기한'
# sinchon.loc[sinchon['키워드']=='일식집 보다', '키워드'] = '일식집'
# sinchon.loc[sinchon['키워드']=='좁다', '키워드'] = '좁은'
# sinchon.loc[sinchon['키워드']=='유쾌하다', '키워드'] = '유쾌한'
# sinchon.loc[sinchon['키워드']=='재밌다', '키워드'] = '재밌는'
# sinchon.loc[sinchon['키워드']=='불쾌하다', '키워드'] = '불쾌한'
# sinchon.loc[sinchon['키워드']=='신김치 들어가다', '키워드'] = '신김치'
# sinchon.loc[sinchon['키워드']=='특별하다', '키워드'] = '특별한'
# sinchon.loc[sinchon['키워드']=='비리다', '키워드'] = '비린'
# sinchon.loc[sinchon['키워드']=='쓰다', '키워드'] = '쓴'
# sinchon.loc[sinchon['키워드']=='편안하다', '키워드'] = '편한'
# sinchon.loc[sinchon['키워드']=='양이 적다', '키워드'] = '양이 적은'
# sinchon.loc[sinchon['키워드']=='조화롭다', '키워드'] = '조화로운'
# sinchon.loc[sinchon['키워드']=='질기다', '키워드'] = '질긴'
# sinchon.loc[sinchon['키워드']=='테이블 마다', '키워드'] = '테이블'
# sinchon.loc[sinchon['키워드']=='비싼 들다', '키워드'] = '비싼'
# sinchon.loc[sinchon['키워드']=='잔잔하다', '키워드'] = '잔잔한'
# sinchon.loc[sinchon['키워드']=='청결하다', '키워드'] = '청결한'
# sinchon.loc[sinchon['키워드']=='싱싱하다', '키워드'] = '싱싱한'
# sinchon.loc[sinchon['키워드']=='엄마 좋아하다', '키워드'] = '엄마가 좋아한'
# sinchon.loc[sinchon['키워드']=='산낙지볶음 들다', '키워드'] = '산낙지볶음'
# sinchon.loc[sinchon['키워드']=='자극적이지 않다', '키워드'] = '자극적이지 않은'
# sinchon.loc[sinchon['키워드']=='빨리 나오다', '키워드'] = '빨리 나오는'
# sinchon.loc[sinchon['키워드']=='아담하다', '키워드'] = '아담한'
# sinchon.loc[sinchon['키워드']=='어울리다', '키워드'] = '어울리는'
# sinchon.loc[sinchon['키워드']=='튀기다', '키워드'] = '튀긴'
# sinchon.loc[sinchon['키워드']=='새롭다', '키워드'] = '새로운'
# sinchon.loc[sinchon['키워드']=='설익다', '키워드'] = '설익은'
# sinchon.loc[sinchon['키워드']=='분위기 갖추다', '키워드'] = '분위기'
# sinchon.loc[sinchon['키워드']=='빠르다', '키워드'] = '빠른'
# sinchon.loc[sinchon['키워드']=='씁쓸하다', '키워드'] = '씁쓸한'
# sinchon.loc[sinchon['키워드']=='허탈하다', '키워드'] = '허탈한'
# sinchon.loc[sinchon['키워드']=='피 꼬막 무치다', '키워드'] = '피꼬막무침'
# sinchon.loc[sinchon['키워드']=='완벽하다', '키워드'] = '완벽한'
# sinchon.loc[sinchon['키워드']=='순하다', '키워드'] = '순한'
# sinchon.loc[sinchon['키워드']=='부담스럽다', '키워드'] = '부담스러운'
# sinchon.loc[sinchon['키워드']=='즐겁다', '키워드'] = '즐거운'
# sinchon.loc[sinchon['키워드']=='서비스 주다', '키워드'] = '서비스'
# sinchon.loc[sinchon['키워드']=='키오스크다', '키워드'] = '키오스크'
# sinchon.loc[sinchon['키워드']=='안주 주다', '키워드'] = '안주'
# sinchon.loc[sinchon['키워드']=='선하다', '키워드'] = '선한'
# sinchon.loc[sinchon['키워드']=='산미 없다', '키워드'] = '산미 없는'
# sinchon.loc[sinchon['키워드']=='수제 초콜릿 찾다', '키워드'] = '수제초콜릿'
# sinchon.loc[sinchon['키워드']=='쌉싸름하다', '키워드'] = '쌉싸름한'
# sinchon.loc[sinchon['키워드']=='평범하다', '키워드'] = '평범한'
# sinchon.loc[sinchon['키워드']=='정중하다', '키워드'] = '정중한'
# sinchon.loc[sinchon['키워드']=='간도 세지 않다', '키워드'] = '세지않은 간'
# sinchon.loc[sinchon['키워드']=='뿌듯하다', '키워드'] = '뿌듯한'
# sinchon.loc[sinchon['키워드']=='수제 초콜릿 찾다', '키워드'] = '수제초콜릿'
# sinchon.loc[sinchon['키워드']=='쌉싸름하다', '키워드'] = '쌉싸름한'
# sinchon.loc[sinchon['키워드']=='수다', '키워드'] = '대화'
# sinchon.loc[sinchon['키워드']=='수다 떨다', '키워드'] = '대화'
# sinchon.loc[sinchon['키워드']=='정겹다', '키워드'] = '정겨운'
# sinchon.loc[sinchon['키워드']=='부스러지다', '키워드'] = '부스러진'
# sinchon.loc[sinchon['키워드']=='어두침침하다', '키워드'] = '어두운'
# sinchon.loc[sinchon['키워드']=='자유롭다', '키워드'] = '자유로운'
# sinchon.loc[sinchon['키워드']=='의자 푹신하다', '키워드'] = '푹신한 의자'
# sinchon.loc[sinchon['키워드']=='쾌적하다', '키워드'] = '쾌적한'
# sinchon.loc[sinchon['키워드']=='푹신하다', '키워드'] = '푹신한'
# sinchon.loc[sinchon['키워드']=='쓴맛 없다', '키워드'] = '쓰지 않은'
# sinchon.loc[sinchon['키워드']=='짜지않다', '키워드'] = '짜지 않은'
# sinchon.loc[sinchon['키워드']=='실망 스럽다', '키워드'] = '실망스러운'
# sinchon.loc[sinchon['키워드']=='분위기 편안하다', '키워드'] = '편안한 분위기'
# sinchon.loc[sinchon['키워드']=='소소하다', '키워드'] = '소소한'
# sinchon.loc[sinchon['키워드']=='화려하다', '키워드'] = '화려한'
# sinchon.loc[sinchon['키워드']=='신청곡 가능하다', '키워드'] = '신청곡'
# sinchon.loc[sinchon['키워드']=='안락하다', '키워드'] = '안락한'
# sinchon.loc[sinchon['키워드']=='행복하다', '키워드'] = '행복한'
# sinchon.loc[sinchon['키워드']=='특이하다', '키워드'] = '특이한'
# sinchon.loc[sinchon['키워드']=='자극적이지 않다 않다', '키워드'] = '자극적이지 않은'
# sinchon.loc[sinchon['키워드']=='애매하다', '키워드'] = '애매한'
# sinchon.loc[sinchon['키워드']=='좌석 없다', '키워드'] = '좌석 없는'
# sinchon.loc[sinchon['키워드']=='한적하다', '키워드'] = '한적한'
# sinchon.loc[sinchon['키워드']=='얼얼하다', '키워드'] = '얼얼한'
# sinchon.loc[sinchon['키워드']=='정성스럽다', '키워드'] = '정성스러운'
# sinchon.loc[sinchon['키워드']=='편리하다', '키워드'] = '편리한'
# sinchon.loc[sinchon['키워드']=='야무지다', '키워드'] = '야무진'
# sinchon.loc[sinchon['키워드']=='쾌적하지 않다', '키워드'] = '쾌적하지 않은'
# sinchon.loc[sinchon['키워드']=='간이 맞다', '키워드'] = '간이 맞지 않는'
# sinchon.loc[sinchon['키워드']=='지저분하다', '키워드'] = '지저분한'
# sinchon.loc[sinchon['키워드']=='얇다', '키워드'] = '얇은'
# sinchon.loc[sinchon['키워드']=='포장 가능하다', '키워드'] = '포장'
# sinchon.loc[sinchon['키워드']=='산미 느껴지다', '키워드'] = '산미'
# sinchon.loc[sinchon['키워드']=='유일하다', '키워드'] = '유일한'
# sinchon.loc[sinchon['키워드']=='평온하다', '키워드'] = '평온한'
# sinchon.loc[sinchon['키워드']=='춥다', '키워드'] = '추운'
# sinchon.loc[sinchon['키워드']=='자리 없다', '키워드'] = '자리 없는'
# sinchon.loc[sinchon['키워드']=='아깝다', '키워드'] = '아까운'
# sinchon.loc[sinchon['키워드']=='부지런하다', '키워드'] = '부지런한'
# sinchon.loc[sinchon['키워드']=='짭짤하다', '키워드'] = '짭짤한'
# sinchon.loc[sinchon['키워드']=='웨이팅 없다', '키워드'] = '웨이팅 없는'
# sinchon.loc[sinchon['키워드']=='안주 맛 없다', '키워드'] = '맛없는 안주'
# sinchon.loc[sinchon['키워드']=='손꼽다', '키워드'] = '손꼽는'
# sinchon.loc[sinchon['키워드']=='광장시장보다', '키워드'] = '광장시장'
# sinchon.loc[sinchon['키워드']=='신속하다', '키워드'] = '신속한'
# sinchon.loc[sinchon['키워드']=='싫다', '키워드'] = '싫은'
# sinchon.loc[sinchon['키워드']=='짧다', '키워드'] = '짧은'
# sinchon.loc[sinchon['키워드']=='양은 적다', '키워드'] = '적은 양'
# sinchon.loc[sinchon['키워드']=='질리다', '키워드'] = '질리는'
# sinchon.loc[sinchon['키워드']=='간도 맞다', '키워드'] = '간이 맞는'
# sinchon.loc[sinchon['키워드']=='왕새우 크다', '키워드'] = '큰 왕새우'
# sinchon.loc[sinchon['키워드']=='엄청나다', '키워드'] = '엄청난'
# sinchon.loc[sinchon['키워드']=='은은하다', '키워드'] = '은은한'
# sinchon.loc[sinchon['키워드']=='양념 되다', '키워드'] = '양념된'
# sinchon.loc[sinchon['키워드']=='쎄다', '키워드'] = '쎈'
# sinchon.loc[sinchon['키워드']=='원 탑 급 이렇다', '키워드'] = '원탑'
# sinchon.loc[sinchon['키워드']=='북적 이지 않다', '키워드'] = '북적이지 않는'
# sinchon.loc[sinchon['키워드']=='프라이 빗다', '키워드'] = '프라이빗'
# sinchon.loc[sinchon['키워드']=='시큼하다', '키워드'] = '시큼한'
# sinchon.loc[sinchon['키워드']=='사장님 젊다', '키워드'] = '젊은 사장님'
# sinchon.loc[sinchon['키워드']=='싱겁다', '키워드'] = '싱거운'
# sinchon.loc[sinchon['키워드']=='완전하다', '키워드'] = '완전한'
# sinchon.loc[sinchon['키워드']=='어둑하다', '키워드'] = '어두운'
# sinchon.loc[sinchon['키워드']=='시그니쳐다', '키워드'] = '시그니처'
# sinchon.loc[sinchon['키워드']=='섬세하다', '키워드'] = '섬세한'
# sinchon.loc[sinchon['키워드']=='잘생기다', '키워드'] = '잘생긴'
# sinchon.loc[sinchon['키워드']=='해장 되다', '키워드'] = '해장'
# sinchon.loc[sinchon['키워드']=='사장님 유쾌하다', '키워드'] = '유쾌한 사장님'
# sinchon.loc[sinchon['키워드']=='선물용 딱이다', '키워드'] = '선물'
# sinchon.loc[sinchon['키워드']=='설레다', '키워드'] = '설레는'
# sinchon.loc[sinchon['키워드']=='사진 찍다', '키워드'] = '사진'
# sinchon.loc[sinchon['키워드']=='새콤하다', '키워드'] = '새콤한'
# sinchon.loc[sinchon['키워드']=='양 적어지다', '키워드'] = '적은 양'
# sinchon.loc[sinchon['키워드']=='여유롭다', '키워드'] = '여유로운'

In [405]:
# sinchon = remove_keyword(sinchon)

In [404]:
# def remove_keyword(df):
#     remove_idx=df[df['키워드'].isin(drop_list)].index
#     df=df.drop(remove_idx)
#     df=df.reset_index(drop=True)
#     return df

In [403]:
# drop_list = ['체다', '추가 3000원 가능하다', '치우다', '설렁탕 보다', '자주 이용하다', '부르다',
#              '선구자 필요하다', '기름 닦다', '자주 오다', '싱싱하다 쫄깃합니 다', '비비다',
#              '여전히 추천 드리다', '유명 낙지 집 보다', '음식 자극적이지 않다','음식 나오다', 
#              '샌드위치 좋아하다', '차다', '술 갈다', '네이버 올라오다', '던킨가면 맛 틀리다',
#              '사시미 나오다', '간도 배다', '고기 비다', '생각 보다', '새우다', 
#              '영업 해주다', '오래오래 영업 해주다', '아무 맛 안나 고 비리다', '양배추 없다',
#              '자리 마다', '부담스럽다 가격대 이기다', '좋은 팝업식 당하다', '사장님 웃다',
#              '생각 처음 수북하다', '음식 빨리 나오다', '좋아하다', '커피 말다', '술국 주다',
#              '깔끔한 빨리 나오다', '기생 그렇다', '좋은 고기 주다', '간식 많이 들다',
#              '정겹다 오다', '좋은 이모님 들다', '북적 거려 그렇다', '짜지다', '사리다',
#              '새우젓 가져가다', '서빙 들다', '숨다', '알아채다 아쉽다', '좋은 원하다',
#              '불 쎄다', '수제 그렇다', '설명절 쉬다', '셀프 라 뜨다', '좀더 끓이다',
#              '사라지다', '술술 들어가다', '오꼬노미야끼 들다 보다', '분알다','카페 팔다',
#              '추다', '신경 쓸다', '순 한 맛 시 켯 늘다', '오랜 만 뜨다', '깨끗한 누리다',
#              '넉넉한 보다', '알아보다', '생각나는 만에 되다', '오미자차 만 찾다', '오미자차 팔다',
#              '빠르다 제조 해주다', '코다', '그릇 크기 맘 들다', '일부러 뿌리다 주다',
#              '아몬드 밀크 추가 해주다', '좋은 좋아하다', '비우다 오다', '간만 평범하다', 
#              '간이 돼다', '고기 들다', '스파게티 아니다', '차갑다', '울다', '친절한 남기다',
#              '알품다', '분식 않다', '소스 찍다 순대국 보다', '카레우동 포장 가능하다', '간도 안배 기다',
#              '클로버 유일하다', '씹다', '손님 많은 아니다', '어이없다', '산다', '국물에 말다',
#              '간단하게 먹고다', '음료 말다', '사용 돼다', '사르다', '샌드위치 사다', '샌드위치 사르다',
#              '없다', '친절한 사다', '부위 맛보다', '서빙 해주다', '쑤다', '생 뚱하다', '사오다', 
#              '친절한 바쁘다', '오랫 만 들다 보다', '음료 빨리 나오다', '음식점 다니다 보다',
#              '불쾌하다 자식 사다', '사다 않다', '굶다', '불쾌하다 뱉다', '좋은 탁하다', 
#              '알버리다', '술 잘알다', '오랜 만 오다', '부다', '잘알다', '양념 게장 간장게장 없다', 
#              '설명 해주다', '추천 드리다', '쏟다', '식다', '양 무 작다', '넓은 그리다',
#              '오늘 잘먹엇습니 다', '자주 가다', '간만 신촌 오다', '유쾌하다 여전하다', '잊다', '솥밥 나오다',
#              '종류 별로 없다', '그릇 비우다', '생각 해내다', '안주 싶다', '노량진점보다', '만적다',
#              '쌀 만들다', '순두부 보다', '입맛 없다',
#              '정도적당 해보다', '좋은 보다', '사장님 바뀌다', '동네 마르다 집다',
#              '할인 해주다', '재밌게 놀다', '코돈 부르다', '새롭다 생기다', '카이막 궁금하다', '품절 강하다']

In [4]:
review = pd.read_csv('키워드/신촌리뷰_23년1분기_키워드_전처리.csv')
review = review[['상가업소번호', '가게명', '리뷰']]
review

,상가업소번호,가게명,리뷰
0,MA010120220813677380,고래파스타,분위기 좋아용
1,MA010120220813677380,고래파스타,ㅇㅅㅇ
2,MA010120220813677380,고래파스타,라자냐까지 먹었는데 너무 맛있었어욤!!
3,MA010120220813677380,고래파스타,가성비 괜찮아요 뇨끼랑 라자냐 먹었는데 라자냐가 맛있었어요
4,MA010120220813677380,고래파스타,친구 추천으로 가봤어요. 감자 뇨끼 맛있어요!!
...,...,...,...
14211,MA010120220812333801,타코로코,식당 분위기도 좋고 치킨 퀘사디아가 정말 맛있었다. 친구는 부리또를 시켰는데 부리또...
14212,MA010120220803097672,파파노다이닝,평점 2.5가격 비쌈양적음맛 나쁨네이버리뷰추천 : 사케동사케동 : 회가 맛이 좋은 ...
14213,MA010120220803097672,파파노다이닝,일본에서 먹던맛 그대로입니다 맛있어서 추천하는가게입니다
14214,MA010120220807717289,매거진 스탠딩,한국식 모츠나베를 주문했는데 만족스러웠어요! 특히 대창이 이렇게 맛있는 음식이었다는...
14215,MA010120220807413424,영미김밥,양 많고 메뉴 종류도 많아요. 맛도 있어서 간단하게 한 끼 먹기 좋습니다

In [711]:
review[(review['상가업소번호']=='MA010120220806987328') & (review['리뷰'].str.contains('저렴'))]

                    상가업소번호       가게명                  리뷰
5387  MA010120220806987328  싸다김밥 신촌점            맛있고 저렴해용
5388  MA010120220806987328  싸다김밥 신촌점        음식이 맛있고 저렴해용
5392  MA010120220806987328  싸다김밥 신촌점  맛있는김밥을 저렴하게 먹을수있어옹

In [870]:
review[(review['가게명']=='봉구비어 신촌명물거리2호점') & (review['리뷰'].str.contains('친절'))]

,상가업소번호,가게명,리뷰
4570,MA010120220800558542,봉구비어 신촌명물거리2호점,언제가도 맛있는 감튀~ 야외테이블 있어서 벚꽃 감상하며 감맥 한 잔 했습니다~ 하이...
4573,MA010120220800558542,봉구비어 신촌명물거리2호점,사장님이 진짜 친절하시고 간단하게 비어하기 좋은 곳이고 안에 자리도 넉넉함!!!

In [871]:
review.loc[4570].리뷰

'언제가도 맛있는 감튀~ 야외테이블 있어서 벚꽃 감상하며 감맥 한 잔 했습니다~ 하이볼 양도 많고 맛있네요? 친절하시고 좋아요! 야외좌석은 주문 시 미리카드맡기셔야합니다. 가끔 먹튀하시는 분들 계신가봐요ㅎㅎ'

In [807]:
import pandas as pd
bukchon = pd.read_csv('1분기 키워드/키워드_리뷰/북촌_키워드_리뷰.csv')
bukchon

,상가업소번호,가게명,키워드,갯수,행정동,업종,리뷰
0,MA010120220808699965,반타이,주말,5.0,가회동,동남아시아,보통 역 바로 옆에 있거나 대로변에 있는 곳은 실패한 경험이 많아 좀 피...
1,MA010120220802904538,다운타우너안국점,간식,2.0,가회동,패스트푸드,회사에서 단체로 간식 주문했는데 처음 여기 버거 먹었을때 그 만큼의 감동...
2,MA010120220802904538,다운타우너안국점,감동,2.0,가회동,패스트푸드,회사에서 단체로 간식 주문했는데 처음 여기 버거 먹었을때 그 만큼의 감동...
3,MA010120220809783975,중경삼림,고깃집,2.0,가회동,한식,가게 이름만 보고 중식당인줄 알았는데고깃집이었다!고기 맛있음반찬 소스 다 ...
4,MA010120220800034405,계동피자,가성비,2.0,가회동,패스트푸드,"가성비가 좋은 피자집사람이 많아서 오늘에야 처음 가보았는데 피자가 맛있고,..."
...,...,...,...,...,...,...,...
2979,MA0101202212A0020676,갓잇 안국점,배부른,11.0,가회동,서양식,A세트 시켰는데 만!!족!! 둘이 먹었는데 딱 배불렀어요!! 평일 오픈시간 쪼금 넘...
2980,MA010120220809328625,벨라쿠키 안국,맛집,8.0,가회동,카페,Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2981,MA010120220809328625,벨라쿠키 안국,치즈쿠키,11.0,가회동,카페,Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2982,MA010120220809328625,벨라쿠키 안국,황치즈쿠키,9.0,가회동,카페,Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2983,MA0101202301A0085185,노란상소갈비 안국역점,소갈비,44.0,가회동,한식,open 한지 얼마 안되었는데 벌써 두번째 방문입니다. 가장 좋은 점은 소갈비를 2...

In [811]:
bukchon['리뷰'] = bukchon['리뷰'].str.strip()

In [812]:
bukchon['리뷰']

0       보통 역 바로 옆에 있거나 대로변에 있는 곳은 실패한 경험이 많아 좀 피하게 되는데...
1       회사에서 단체로 간식 주문했는데 처음 여기 버거 먹었을때 그 만큼의 감동은 없지만 ...
2       회사에서 단체로 간식 주문했는데 처음 여기 버거 먹었을때 그 만큼의 감동은 없지만 ...
3       가게 이름만 보고 중식당인줄 알았는데고깃집이었다!고기 맛있음반찬 소스 다 신경쓰신 ...
4       가성비가 좋은 피자집사람이 많아서 오늘에야 처음 가보았는데 피자가 맛있고, 다른 스...
                              ...
2979    A세트 시켰는데 만!!족!! 둘이 먹었는데 딱 배불렀어요!! 평일 오픈시간 쪼금 넘...
2980    Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2981    Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2982    Mj지수(3.7/5.0)한줄평 : 필링이 있는 쿠키를 사는걸 추천! 필링이 없으면 ...
2983    open 한지 얼마 안되었는데 벌써 두번째 방문입니다. 가장 좋은 점은 소갈비를 2...
Name: 리뷰, Length: 2984, dtype: object

In [813]:
bukchon.to_csv('1분기 키워드/키워드_리뷰/북촌_키워드_리뷰.csv', index=False)