In [1]:
import pandas as pd

In [553]:
b3=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\북촌_22년3분기_가게별_키워드갯수.csv')
b4=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\북촌_22년4분기_가게별_키워드갯수.csv')
b32=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\북촌_22년3분기_가게별_키워드2갯수.csv')
b42=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\북촌_22년4분기_가게별_키워드2갯수.csv')

In [554]:
s3=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\성수_22년3분기_가게별_키워드갯수.csv')
s4=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\성수_22년4분기_가게별_키워드갯수.csv')
s32=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\성수_22년3분기_가게별_키워드2갯수.csv')
s42=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\성수_22년4분기_가게별_키워드2갯수.csv')

In [555]:
sc3=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\신촌_22년3분기_가게별_키워드갯수.csv')
sc4=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\신촌_22년4분기_가게별_키워드갯수.csv')
sc32=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\신촌_22년3분기_가게별_키워드2갯수.csv')
sc42=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\신촌_22년4분기_가게별_키워드2갯수.csv')

In [556]:
sc12=pd.read_csv(r'C:\Users\qkrwl\OneDrive\바탕 화면\캡스톤\Keyword_Extraction\가게별 키워드 개수\신촌_23년1분기_가게별_키워드2갯수.csv')

In [150]:
sc12.head()

                 상가업소번호      가게명      키워드  갯수
0  MA010120220814100801  커피크레페본점  귀엽다 맛있다  39
1  MA010120220814100801  커피크레페본점  크레페 맛있다  19
2  MA010120220814100801  커피크레페본점   맛있게 먹다  16
3  MA010120220814100801  커피크레페본점  친절한 사장님  14
4  MA0101202301A0105088  백소정 신촌점    매장 넓다  15

In [324]:
b3.dropna(axis=0,inplace=True)
b3=b3.reset_index(drop=True)

b4.dropna(axis=0,inplace=True)
b4=b4.reset_index(drop=True)

b32.dropna(axis=0,inplace=True)
b32=b32.reset_index(drop=True)

b42.dropna(axis=0,inplace=True)
b42=b42.reset_index(drop=True)

In [325]:
s3.dropna(axis=0,inplace=True)
s3=s3.reset_index(drop=True)

s4.dropna(axis=0,inplace=True)
s4=s4.reset_index(drop=True)

s32.dropna(axis=0,inplace=True)
s32=s32.reset_index(drop=True)

s42.dropna(axis=0,inplace=True)
s42=s42.reset_index(drop=True)

In [326]:
sc3.dropna(axis=0,inplace=True)
sc3=sc3.reset_index(drop=True)

sc4.dropna(axis=0,inplace=True)
sc4=sc4.reset_index(drop=True)

sc32.dropna(axis=0,inplace=True)
sc32=sc32.reset_index(drop=True)

sc42.dropna(axis=0,inplace=True)
sc42=sc42.reset_index(drop=True)

In [327]:
sc12.dropna(axis=0,inplace=True)
sc12=sc12.reset_index(drop=True)

In [300]:
sc12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12771 entries, 0 to 12770
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상가업소번호  12771 non-null  object
 1   가게명     12771 non-null  object
 2   키워드     12771 non-null  object
 3   갯수      12771 non-null  int64
dtypes: int64(1), object(3)
memory usage: 399.2+ KB


- 키워드2에서 공백 2개 replace
- 짜지다 않다->짜지 않다
- 맛있다  먹다->맛있게 먹다
- 키워드 좌우 공백 없애기 strip
- 키워드 1개 인건 없애기

### 불용어 없애기

In [232]:
#한국어 불용어 사전 만들기

korean_stopwords_list='한국어 불용어.txt'
    
#한국어 불용어 txt 오픈
with open(korean_stopwords_list,encoding='utf-8') as f:
    stopwords=f.readlines()

stopwords=[x.strip() for x in stopwords]
stopwords[:10]

['아', '휴', '아이구', '아이쿠', '아이고', '어', '나', '우리', '저희', '따라']

In [524]:
remove_list=['너무','다','먹다','가다','보다','분들','않다','오다','요','팡','정말','도르다','이르다','진짜','곳','대체','리뷰','되다','설다','없다',
             '건물','들다','가보다','말다','점','인','고','분','비','요','한','두','인데','랑','베','판매','님','양','라','내','엔','팅','나오다','메뉴',
             '느껴지다','으로도','해주다','설다','알다','흘리다','직원분들','들다','이에요','이라','갈다','날','그냥','역시','대체 리뷰','음식','대다',
             '먹다 보다','싶다','엄청','처음','다 들다','끈','서','인거','게','믿다','시','위','에요','함','집','식','휘','못','곳일','글쎄','째','적','나다','기','듯','보고',
             '목','척','에는','나용','거','데','만','먹기','께서','남자','층','에도','욥','잘',
             '천','가장','수','살다','리','본','쏘다','이네','오래','오랜','받다','아니다','방문','가도','근처','느끼다','','맛','모르다','이전','느낌','앞','담 엔','말','부분','모든','가다 들다','미리','가격','선택','다시',
             '모양','없이','정도','찾다','달라 고','가다 보다','먹다 보다','끼','너무 너무','오다 보다','생기다 오다 보다','맛 요','먹다 오다','먹다 가다','먹다 엔','좋다 맛','이랑','토','도','살','전반 적','가다 곳'
             ]

In [525]:
def remove_keyword(df):
    remove_idx=df[df['키워드'].isin(remove_list)].index
    df=df.drop(remove_idx)
    df=df.reset_index(drop=True)
    return df

In [526]:
b3=remove_keyword(b3)
b4=remove_keyword(b4)
b32=remove_keyword(b32)
b42=remove_keyword(b42)

In [527]:
s3=remove_keyword(s3)
s4=remove_keyword(s4)
s32=remove_keyword(s32)
s42=remove_keyword(s42)

In [528]:
sc3=remove_keyword(sc3)
sc4=remove_keyword(sc4)
sc32=remove_keyword(sc32)
sc42=remove_keyword(sc42)

In [529]:
sc12=remove_keyword(sc12)

In [180]:
sc12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12831 entries, 0 to 12830
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상가업소번호  12831 non-null  object
 1   가게명     12831 non-null  object
 2   키워드     12831 non-null  object
 3   갯수      12831 non-null  int64
dtypes: int64(1), object(3)
memory usage: 401.1+ KB

### 좌우공백 없애기

In [45]:
def remove_empty(s):
    s=s.strip()
    return s

In [39]:
b3['키워드']=b3['키워드'].apply(remove_empty)
b4['키워드']=b4['키워드'].apply(remove_empty)
b32['키워드']=b32['키워드'].apply(remove_empty)
b42['키워드']=b42['키워드'].apply(remove_empty)

In [40]:
s3['키워드']=s3['키워드'].apply(remove_empty)
s4['키워드']=s4['키워드'].apply(remove_empty)
s32['키워드']=s32['키워드'].apply(remove_empty)
s42['키워드']=s42['키워드'].apply(remove_empty)

In [41]:
sc3['키워드']=sc3['키워드'].apply(remove_empty)
sc4['키워드']=sc4['키워드'].apply(remove_empty)
sc32['키워드']=sc32['키워드'].apply(remove_empty)
sc42['키워드']=sc42['키워드'].apply(remove_empty)

In [46]:
sc12['키워드']=sc12['키워드'].apply(remove_empty)

### 띄어쓰기 2개 이상인거 1개로 바꾸기

In [47]:
def empty_more(s):
    text=' '.join(s.split())
    return text

In [43]:
b32['키워드']=b32['키워드'].apply(empty_more)
b42['키워드']=b42['키워드'].apply(empty_more)

In [44]:
s32['키워드']=s32['키워드'].apply(empty_more)
s42['키워드']=s42['키워드'].apply(empty_more)

In [45]:
sc32['키워드']=sc32['키워드'].apply(empty_more)
sc42['키워드']=sc42['키워드'].apply(empty_more)

In [48]:
sc12['키워드']=sc12['키워드'].apply(empty_more)

In [46]:
b32.to_csv('가게별 키워드 개수/북촌_22년3분기_가게별_키워드2갯수.csv',index=False)
b42.to_csv('가게별 키워드 개수/북촌_22년4분기_가게별_키워드2갯수.csv',index=False)

In [47]:
s32.to_csv('가게별 키워드 개수/성수_22년3분기_가게별_키워드2갯수.csv',index=False)
s42.to_csv('가게별 키워드 개수/성수_22년4분기_가게별_키워드2갯수.csv',index=False)

In [48]:
sc32.to_csv('가게별 키워드 개수/신촌_22년3분기_가게별_키워드2갯수.csv',index=False)
sc42.to_csv('가게별 키워드 개수/신촌_22년4분기_가게별_키워드2갯수.csv',index=False)

### 단어바꾸기

("하이 볼", "하이볼").replace("대화 좋다", "대화하기 좋다").replace("공부 좋다", "공부하기 좋다").replace("얘기 좋다", "대화하기 좋다").replace("공 짜", "공짜").replace("디카 페인", "디카페인").replace("비건 카페", "비건카페").replace(" 떡", "떡").replace("깔끔하다 맛있다", "깔끔하게 맛있다").replace(" 층", "층").replace(" 개", "개").replace("앙 버터", "앙버터").replace("갈다 마다", "갈때마다").replace("경 양식", "경양식").replace("재밌다 놀다", "재밌게 놀다").replace("재밌다 놀다", "재밌게 놀다").replace("친구 끼리", "친구끼리").replace("조개 구이", "조개구이").replace("웨이팅 팅", "웨이팅").replace("고 메", "고메").replace("소 면", "소면").replace(" 면", "면").replace("분 짜", "분짜").replace("고 슬", "고슬").replace("재밌다 놀다", "재밌게 놀다").replace("재밌다 놀다", "재밌게 놀다").replace("친구 끼리", "친구끼리").replace("조개 구이", "조개구이").replace("웨이팅 팅", "웨이팅").replace("깔끔하다 맛있다", "깔끔하게 맛있다").replace(" 층", "층").replace(" 개", "개").replace("앙 버터", "앙버터").replace("갈다 마다", "갈때마다").replace("경 양식", "경양식").replace("고 메", "고메").replace("소 면", "소면").replace(" 면", "면").replace("분 짜", "분짜").replace("고 슬", "고슬").replace("쉬 림프", "쉬림프").replace(" 이랑", "이랑").replace("쌍 화차", "쌍화차").replace(" 인", "인").replace("공 깃밥", "공기밥").replace("합리적 이라", "합리적이다").replace("가족 끼리", "가족끼리").replace("냉 모밀", "냉모밀").replace("백 짬뽕", "백짬뽕").replace("겉바 속 촉", "겉바속촉").replace("짜지다 않다", "짜지 않다").replace("맛있다 먹다", "맛있게 먹다").replace("감 바스", "감바스").replace("웨이", "웨이팅").replace("매다", "맵다").replace("달 지", "달지").replace(" 향", "향").replace("리 코타", "리코타 치즈").replace("감 튀", "감자튀김").replace("테이블 링", "테이블링").replace("선물 용", "선물용").replace(" 알", "알").replace("노리다 끼", "노리마끼").replace("규 카츠", "규 카츠").replace("루 프탑", "루프탑").replace("규 카츠", "규카츠").replace("루프 탑", "루프탑").replace("로우 키", "로우키").replace("포토 존", "포토존").replace("대화 좋다", "대화하기 좋다").replace("공부 좋다", "공부하기 좋다").replace("얘기 좋다", "대화하기 좋다").replace("다운 타우", "다운타우너").replace("가다 비 서다", "가성비 좋다").replace("메 커피", "메가 커피").replace("페스 츄리", "페스츄리").replace("덮다 밥", "덮밥").replace("라 떼이다", "라떼").replace("바삭 한", "바삭한").replace(' 메뉴','메뉴').replace('상큼 한','상큼한').replace('반 쎄다','반쎄오').replace('반 세','반쎄오').replace('유린 기','유린기').replace('유린 기','유린기').replace(' 점','점')

In [557]:
import re

def replace_word(text):
    text2 = text.replace('감자 튀김','감자튀김').replace('순 대국','순대국').replace('가격 비다','가격 비싸다').replace('핸드 메이드','핸드메이드').replace('냉 소바','냉소바')
    return text2

In [558]:
b3['키워드']=b3['키워드'].apply(replace_word)
b4['키워드']=b4['키워드'].apply(replace_word)
b32['키워드']=b32['키워드'].apply(replace_word)
b42['키워드']=b42['키워드'].apply(replace_word)

In [559]:
s3['키워드']=s3['키워드'].apply(replace_word)
s4['키워드']=s4['키워드'].apply(replace_word)
s32['키워드']=s32['키워드'].apply(replace_word)
s42['키워드']=s42['키워드'].apply(replace_word)

In [560]:
sc3['키워드']=sc3['키워드'].apply(replace_word)
sc4['키워드']=sc4['키워드'].apply(replace_word)
sc32['키워드']=sc32['키워드'].apply(replace_word)
sc42['키워드']=sc42['키워드'].apply(replace_word)

In [561]:
sc12['키워드']=sc12['키워드'].apply(replace_word)

### 한단어인것 삭제

In [52]:
#만약에 문장에 공백이 있으면 그대로 두고, 없으면 삭제

def one_word(df):
    new_df=df[df['키워드'].str.contains(' ')==True]
    new_df=new_df.reset_index(drop=True)
    
    return new_df

In [53]:
b32_1=one_word(b32)
b42_1=one_word(b42)

In [54]:
s32_1=one_word(s32)
s42_1=one_word(s42)

In [55]:
sc32_1=one_word(sc32)
sc42_1=one_word(sc42)

In [54]:
sc12=one_word(sc12)

### 너무 가 들어간 것 삭제

In [99]:
import warnings
warnings.filterwarnings("ignore")

In [100]:
def soso_remove(s):
    s=s.replace("너무 ","").replace(" 너무","").replace(" 너무 "," ")
    return s

def soso(df):
    soso_list=[]
    for i in range(len(df)):
        df['키워드'][i]=soso_remove(df['키워드'][i])
        s=df['키워드'][i]
        #공백이 있다면
        if ' ' not in s:
            soso_list.append(i)

    return soso_list

In [101]:
sc12_list=soso(sc12)

In [ ]:
b3['키워드']=b3['키워드'].apply(replace_word)
b4['키워드']=b4['키워드'].apply(replace_word)
b32['키워드']=b32['키워드'].apply(replace_word)
b42['키워드']=b42['키워드'].apply(replace_word)

In [217]:

b32_list=soso(b32)
b42_list=soso(b42)

In [218]:

s32_list=soso(s32)
s42_list=soso(s42)

In [219]:

sc32_list=soso(sc32)
sc42_list=soso(sc42)

In [103]:
sc12.drop(sc12_list,inplace=True)
sc12=sc12.reset_index()

In [220]:


b32.drop(b32_list,inplace=True)
b32=b32.reset_index()

b42.drop(b42_list,inplace=True)
b42=b42.reset_index()

In [221]:


s32.drop(s32_list,inplace=True)
s32=s32.reset_index()

s42.drop(s42_list,inplace=True)
s42=s42.reset_index()

In [222]:

sc32.drop(sc32_list,inplace=True)
sc32=sc32.reset_index()

sc42.drop(sc42_list,inplace=True)
sc42=sc42.reset_index()

### 저장

In [562]:
b3.to_csv('가게별 키워드 개수/북촌_22년3분기_가게별_키워드갯수.csv',index=False)
b4.to_csv('가게별 키워드 개수/북촌_22년4분기_가게별_키워드갯수.csv',index=False)
b32.to_csv('가게별 키워드 개수/북촌_22년3분기_가게별_키워드2갯수.csv',index=False)
b42.to_csv('가게별 키워드 개수/북촌_22년4분기_가게별_키워드2갯수.csv',index=False)

In [563]:
s3.to_csv('가게별 키워드 개수/성수_22년3분기_가게별_키워드갯수.csv',index=False)
s4.to_csv('가게별 키워드 개수/성수_22년4분기_가게별_키워드갯수.csv',index=False)
s32.to_csv('가게별 키워드 개수/성수_22년3분기_가게별_키워드2갯수.csv',index=False)
s42.to_csv('가게별 키워드 개수/성수_22년4분기_가게별_키워드2갯수.csv',index=False)

In [564]:
sc3.to_csv('가게별 키워드 개수/신촌_22년3분기_가게별_키워드갯수.csv',index=False)
sc4.to_csv('가게별 키워드 개수/신촌_22년4분기_가게별_키워드갯수.csv',index=False)
sc32.to_csv('가게별 키워드 개수/신촌_22년3분기_가게별_키워드2갯수.csv',index=False)
sc42.to_csv('가게별 키워드 개수/신촌_22년4분기_가게별_키워드2갯수.csv',index=False)

In [565]:
sc12.to_csv('가게별 키워드 개수/신촌_23년1분기_가게별_키워드2갯수.csv',index=False)